//
// BUTTONS
// =======
//


//
// BASE BUTTON STYLE
//

.button
  display inline-block
  width auto
  padding 8px 16px
  margin-bottom 0
  font-size 1em
  line-height 1.2
  cursor pointer
  text-decoration none
  buttonStyle($colorBase)

  &:focus,
  &:hover
    color #fff
    background-color darken($colorBase, 30%)
    text-decoration none
  &:active
    background-color darken($colorBase, 15%)
    outline 0


//
// BUTTON COLOUR MODIFIERS
// These modifier classes should be used in addition to the default class:
// <a class="button button-primary">Click!</a>
//

.button-primary
  background-color $colorPrimary
  &:focus,
  &:hover
    background-color darken($colorPrimary, 30%)
  &:active
    background-color darken($colorPrimary, 15%)

.button-success
  background-color $colorSuccess
  &:focus,
  &:hover
    background-color darken($colorSuccess, 30%)
  &:active
    background-color darken($colorSuccess, 15%)

.button-notice
  background-color $colorNotice
  &:focus,
  &:hover
    background-color lighten($colorNotice, 30%)
  &:active
    background-color darken($colorNotice, 15%)

.button-warning
  background-color $colorWarning
  &:focus,
  &:hover
    background-color darken($colorWarning, 30%)
  &:active
    background-color darken($colorWarning, 15%)

.button-error
  background-color $colorError
  &:focus,
  &:hover
    background-color darken($colorError, 30%)
  &:active
    background-color darken($colorError, 15%)