.chzn-container span
	width auto
	line-height $baseLineHeight
	margin-right 0

/* @group Base */
.chzn-container
	position relative
	display inline-block
	vertical-align top
	zoom 1
	*display inline

.chzn-container .chzn-drop
	background $inputBackgroundColor
	border 1px solid $colorBorder
	border-top 0
	position absolute
	top 29px
	left 0
	z-index 999
	if $baseBorderRadius != 0
		border-radius 0 0 $baseBorderRadius $baseBorderRadius

/* @group Single Chosen */
.chzn-container-single .chzn-single
	background-color $inputBackgroundColor
	border 1px solid $colorBorder
	display block
	overflow hidden
	white-space nowrap
	position relative
	padding 5px
	text-decoration none
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius

.chzn-container-single .chzn-single span
	margin-right 30px
	display block
	overflow hidden
	white-space nowrap
	-o-text-overflow ellipsis
	-ms-text-overflow ellipsis
	text-overflow ellipsis

.chzn-container-single .chzn-single abbr
	display block
	position absolute
	right 32px
	top 8px
	width 12px
	height 12px
	font-size 1px
	background versionPath("/admin/images/content/chosen-sprite.png") -69px 50% no-repeat
	border-bottom 0

.chzn-container-single .chzn-single abbr:hover
	background-position -99px 50%

.chzn-container-single .chzn-single div
	background #eee
	border-left 1px solid #ccc
	position absolute
	right 0
	top 0
	display block
	height 100%
	width 24px
	if $baseBorderRadius != 0
		border-radius 0 $baseBorderRadius $baseBorderRadius 0

.chzn-container-single .chzn-single div b
	background versionPath("/admin/images/content/chosen-sprite.png") -3px 50% no-repeat
	display block
	width 100%
	height 100%
	if $baseBorderRadius != 0
		border-radius 0 $baseBorderRadius $baseBorderRadius 0

.chzn-container-single .chzn-search
	padding 3px 3px
	position relative
	margin 0
	white-space nowrap
	z-index 1010

.chzn-container-single .chzn-search input
	background versionPath("/admin/images/content/chosen-sprite.png") -120px 50% no-repeat
	margin 1px 0
	padding-left 25px
	outline 0
	border-color $colorPrimary
	box-shadow 0px 1px 5px rgba(0,0,0,.2) inset, 0px 0px 5px rgba($colorPrimary, 0.8)
	// width 100% !important

.chzn-container-single .chzn-drop
	if $baseBorderRadius != 0
		border-radius 0 0 $baseBorderRadius $baseBorderRadius

/* @end */

.chzn-container-single-nosearch .chzn-search input
	position absolute
	left -9000px

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices
	background-color $inputBackgroundColor
	border 1px solid $colorBorder
	margin 0
	padding 0
	cursor text
	overflow hidden
	height auto !important
	height 1%
	position relative
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius

.chzn-container-multi .chzn-choices li
	float left
	list-style none

.chzn-container-multi .chzn-choices .search-field
	white-space nowrap
	margin 0
	padding 0

.chzn-container-multi .chzn-choices .search-field input
	background transparent !important
	border 0 !important
	padding 5px
	/*margin 1px 0*/
	outline 0
	box-shadow none

.chzn-container-multi .chzn-choices .search-field .default
	color #999 /* TODO - set general placeholder color and apply here */

/**/

.chzn-container-multi .chzn-choices .search-choice
	line-height 13px
	padding 1px 18px 1px 5px
	margin 3px 0 3px 3px
	position relative
	background-color $colorBase
	border 1px solid darken($colorBase, 14)
	outline 0 /* Be sure to set a focus style if using this */
	cursor pointer
	box-shadow none
	if dark($colorBase)
		color #FFFFFF /* TODO - move to variable */
	else
		color $baseFontColor /* TODO - move to variable */
	if $baseBorderRadius != 0
		border-radius ($baseBorderRadius/2)
	if $baseTransitionDuration != 0
		transition border $baseTransitionDuration $baseTransitionEasing, background-color $baseTransitionDuration $baseTransitionEasing

	&:hover
		background-color lighten($colorBase, 3)
	&:active,
	&:focus
		background-color darken($colorBase, 3)

.chzn-container-multi .chzn-choices .search-choice span
	cursor default

.chzn-container-multi .chzn-choices .search-choice-focus
	/*background #d4d4d4*/

.chzn-container-multi .chzn-choices .search-choice .search-choice-close
	display block
	position absolute
	right 3px
	top 4px
	width 12px
	height 13px
	font-size 1px
	background versionPath("/admin/images/content/chosen-sprite.png") -69px 50% no-repeat

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover
	background-position -99px 50%

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close
	background-position right -11px

/* @end */

/* @group Results */
.chzn-container .chzn-results
	margin 0 3px 3px 0
	max-height 190px
	padding 0 0 0 3px
	position relative
	overflow-x hidden
	overflow-y auto

.chzn-container-multi .chzn-results
	margin-top 3px

.chzn-container .chzn-results li
	display none
	line-height 80%
	padding 7px 7px 8px
	margin 0
	list-style none
	border 1px solid transparent

.chzn-container .chzn-results .active-result
	cursor pointer
	display list-item
	if $baseBorderRadius != 0
		border-radius ($baseBorderRadius/2)

.chzn-container .chzn-results .highlighted
	text-shadow 0px 1px 1px darken($colorPrimary, 6)
	background-color $colorPrimary
	border 1px solid darken($colorPrimary, 6)
	box-shadow 0px 0px 0px 1px lighten($colorPrimary, 5) inset
	if dark($colorPrimary)
		color #FFFFFF /* TODO - move to variable */
	else
		color #333333 /* TODO - move to variable */

.chzn-container .chzn-results li em
	background lighten($colorPrimary, 70%)
	font-style normal
	margin 0 -2px
	padding 0 2px
	border-radius 3px

.chzn-container .chzn-results .highlighted em
	background transparent

.chzn-container .chzn-results .no-results
	background #f4f4f4
	display list-item

.chzn-container .chzn-results .group-result
	cursor default
	color #999
	font-weight bold

.chzn-container .chzn-results .group-option
	padding-left 20px

.chzn-container-multi .chzn-drop .result-selected
	display none

/* @end */

/* @group Active  */
.chzn-container-active .chzn-single
	border-color $colorPrimary
	box-shadow 0px 1px 5px rgba(0,0,0,.2) inset, 0px 0px 5px rgba($colorPrimary, 0.8)

.chzn-container-active .chzn-single-with-drop
	border-color $colorBorder
	box-shadow none
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius $baseBorderRadius 0 0

.chzn-container-active .chzn-single-with-drop div
	background transparent
	border-left none

.chzn-container-active .chzn-single-with-drop div b
	background-position -33px 50%

.chzn-container-active .chzn-choices
	border-color $colorPrimary
	box-shadow 0px 1px 5px rgba(0,0,0,.2) inset, 0px 0px 5px rgba($colorPrimary, 0.8)
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius $baseBorderRadius 0 0

.chzn-container-active .chzn-choices .search-field input
	color #111 !important

/* @end */

/* @group Disabled Support */
.chzn-disabled
	cursor default
	opacity:0.5 !important

.chzn-disabled .chzn-single
	cursor default

.chzn-disabled .chzn-choices .search-choice .search-choice-close
	cursor default