.list-filter-form
  position absolute
  top -6px
  right 0

  .form-row
    margin-bottom 0

  label
    position relative
    display inline-block

    .form-label-text
      display none

    .form-field
      width 150px
      border-right 0
      display inline-block

    a.reset
      position absolute
      display block
      top 50%
      margin-top -6px
      right 5px
      width 12px
      height 12px
      text-indent -9999px
      overflow hidden
      background-image versionPath("/admin/images/content/ui-sprite.png")
      background-position -70px -2px
      background-repeat no-repeat
      &:hover
        background-position -100px -2px

  input.button
    padding 0
    width 30px
    height 30px
    vertical-align top

    text-indent -9999px
    font-size 0px
    line-height 0px
    background-image versionPath("/admin/images/content/ui-sprite.png")
    background-position -120px 6px
    background-repeat no-repeat
    border-top-left-radius 0
    border-bottom-left-radius 0

    &:active
      top 0
      border-color darken($baseBorderColor, 10)
      box-shadow none