//
// PAGE TITLES
// ===========
//

.page-header
  position relative
  margin-bottom 3em

  h1
    margin-bottom 0.2em


//
// PAGE ACTION LINKS
//

.page-actions
  position absolute
  top 0
  right 0

  li
    float left
    margin-left 10px