//
// PAGINATION
// ==========
//


//
// PAGINATION CONTAINER
//

.pagination
  text-align center


//
// PAGINATION SUMMARY TEXT
//

.pagination-summary
  // Currently needs no extra styles


//
// NUMBERED PAGINATION LIST
//

.pagination-list

  li
    list-style none
    display inline-block

  a,
  span
    text-decoration none
    padding 3px 5px 3px
    margin 0px 3px

  span
    color #aaa
    cursor default

  // Using ISO numeric codes to add arrows.
  // http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/
  .first a:before,
  .first span:before
    content "\00ab\00a0"
  .previous a:before,
  .previous span:before
    content "\2039\00a0"
  .next a:after,
  .next span:after
    content "\00a0\203A"
  .last a:after,
  .last span:after
    content "\00a0\00bb"

  .pagination-current-page
    width auto
    outline 0 /* Be sure to set a focus style if using this */
    cursor pointer
    buttonStyle($colorPrimary)

    &:hover
      background-color darken($colorPrimary, 30%)
    &:active,
    &:focus
      background-color darken($colorPrimary, 15%)