//
// TOOLTIPS
// ========
// Adding a data-tooltip attribute to an element will create a tooltip on hover.
// The content of the attribute will be used as the tooltip text.
//


//
// BASE STYLES
// By default, tooltips appear above their trigger content.
//

[data-tooltip]
	border-bottom 1px dotted $colorPrimary
	position relative
	cursor pointer
	z-index 999

	&:before,
	&:after
		position absolute
		display block
		left -9999px
		opacity 0

	// The main toolip element
	&:before
		content attr(data-tooltip)
		top -30px
		background #111
		border-top 1px solid #222
		border-bottom 1px solid #000
		color #fff
		font-weight normal
		line-height 18px
		font-size 12px
		padding 3px 8px
		white-space nowrap
		box-shadow 0px 1px 3px rgba(0,0,0,.5)
		if $baseBorderRadius != 0
			border-radius $baseBorderRadius

	// A decorational arrow
	&:after
		content ""
		top -4px
		width 0
		height 0
		border-style solid
		border-width 4px
		border-color #000 transparent transparent transparent

	// Show the tooltip on hover
	&:hover
		&:before
			left -8px
			opacity 1
		&:after
			left 0
			opacity 1


//
// ALTERNATE POSITIONS
//

[data-tooltip].left
	&:before
		top 50%
		margin-top -13px /* TODO - half line-height + padding top*/
		margin-right 6px
	&:after
		top 50%
		margin-right -2px
		margin-top -4px
		border-color transparent transparent transparent #000
	&:hover
		&:before
		&:after
			right 100%
			left auto

[data-tooltip].right
	&:before
		top 50%
		margin-top -13px /* TODO - half line-height + padding top*/
		margin-left 6px
	&:after
		top 50%
		margin-left -2px
		margin-top -4px
		border-color transparent #000 transparent transparent
	&:hover
		&:before
		&:after
			left 100%
