//
// GENERIC COMPONENTS
// ==================
//


//
// Containing element where notifications appear
//

#ui-notifications
  position fixed
  top 10px
  right 15px

#ui-notifications li
  margin-bottom 5px
  list-style none


//
// Individual Notifications
//

.ui-notification
  position relative
  max-width 400px
  min-width 250px
  z-index 1000
  border 1px solid rgba(#000, 0.5)
  background-color rgba(#000, 0.9)
  border-radius 3px
  color #ddd
  box-shadow inset 0px 0px 0px 1px rgba(#fff, 0.1), 0px 2px 3px rgba(#000, 0.2)

  &:after
    content ''
    position absolute
    top 0px
    bottom 0px
    border-radius 3px 0px 0px 3px
    border 2px solid $colorNotice

  &.warn:after
    border 2px solid $colorWarning

  &.error:after
    border 2px solid $colorError

  .content
    padding 15px 20px

  h1
    margin 0 0 5px 0
    font-size 16px
    font-weight normal

  p
    margin 0
    padding 0
    font-size .9em

  .close
    position absolute
    top 5px
    right 10px
    text-decoration none
    color #888
    display none

  &.closable .close
    display block

  .close:hover
    color #fff

  .close:active
    margin-top 1px

  //
  // CLOSE EFFECTS
  //


  /* close */

  .close
    position absolute
    top 3px
    right 10px
    text-decoration none
    color #888
    font-size 16px
    font-weight bold
    display none

  /* slide */

  &.slide
    transition opacity 300ms, top 300ms

    &.hide
      opacity 0
      top -500px

  /* fade */

  &.fade
    transition opacity 300ms

    &.hide
      opacity 0

  /* scale */

  &.scale
    transition transform 300ms
    transform scale(1)

    &.hide
      transform scale(0)