- if (adminIsAllowed(model.name, 'delete')) 
  form.form-delete-button(action='/admin/#{model.slug}/delete', method='post')
    input(type='hidden', name='#{model.idProperty}', value='#{entity[model.idProperty]}')
    input.button.button-primary.button-delete(type='submit', value='Delete')