- if (Object.keys(searchProperties).length > 0)
  .list-filter-form
    form(method='get', action='#{model.slug}')
      .form-row
        label
          span.form-label-text Filter Results
          - if (typeof url.Filter === 'undefined' || url.Filter === '')
            input.form-field(type='text', value='', name='Filter', placeholder="Filter Results")
          - else
            input.form-field(type='text', value=url.Filter, name='Filter', placeholder="Filter Results")
            a.button-reset(href='?Reset', title='Reset Filter')
              i.icon-reset
        input.button(type='submit',value='Filter')
