nav.page-actions.view-actions
  ul.actions
    - if (adminIsAllowed(model.name, 'update')) 
      li: a.button.button-primary(href='/admin/#{model.slug}/#{entity[model.idProperty]}/edit') Edit
    li
      include delete-button