h1 Uh, Oh. 404.
p: strong Terribly sorry old bean, it appears t'interwebs has stolen our page.
p It may be that your looking for a page on our old site that now doesn't exist.<br/>We're currently re-imagining our site but in the meantime you can peruse our lovely 
  a(href='/') holding page.<br/><br/><br/>