extend ../../layout

block content

  h1 Uh, Oh. 404.
  p: strong Sorry, the page you have requested cannot be found.
  p
    | It may be that you were looking for a page that no longer exists, or
    | you may have followed a broken link. We suggest you head to the 
    a(href='/') homepage
    |  to see if you can find what you were looking for.