#main-footer
	.container
		#footer-nav
			ul#footer-nav-primary
				li: a(href='/') Home
			ul#footer-nav-secondary
				li.nav-terms: a(href='/terms') Terms &amp; Conditions
				li.nav-privacy: a(href='/privacy',target='_blank') Privacy
		p Registered office: This is a registered office
		p.copyright Copyright © Template 2011 / Website by 
			a(href='http://www.clock.co.uk',target='_blank') Clock
			| .