#main-header(role='banner')
	.container
		.site-logo
			a(href='/') Eat Out

		//- if (typeof session.authenticated !== 'undefined')
		ul#user-nav
			li.first: a(href='/admin/') Admin Home
			li: a(href='/') View Eat Out Site
			li.last: a(href='/admin/logout',title='') Logout