header.main-header(role='banner')
  include user-navigation

  h1.site-logo
    a(href='/admin/')
      img(src='/admin/images/content/logo-control.png', alt='#{properties.name}', width='128', height='63')

  include main-navigation