mixin subItems(items)
  if items
    ul.sub-nav
      each navSubItem in items
        - if (!navSubItem.permission || navSubItem.permission && (adminIsAllowed(navSubItem.permission.resource, navSubItem.permission.action)))
          li
            a(href=navSubItem.url)= navSubItem.label
            mixin subItems(navSubItem.items)

nav.main-navigation
  ul
    li(class= page.section =='admin' ? 'nav-active' : ''): a(href='/admin') Admin Home
    - var adminNav = bundled.get('adminNav')
    each navItem in adminNav
      - if (!navItem.permission || navItem.permission && (adminIsAllowed(navItem.permission.resource, navItem.permission.action)))
        li(class= page.section == navItem.section ? 'nav-active' : '')
          a(href=navItem.url)= navItem.label
          mixin subItems(navItem.items)