mixin subItems(items)
	if items
		each navSubItem in items
			ul.sub-nav
				li: a(href=navSubItem.url)= navSubItem.label
				mixin subItems(navSubItem.items)

#main-nav
	ul#admin-nav

		li(class= page.section =='admin' ? 'nav-active' : ''): a(href='/admin') Admin Home

		//- TODO: Can these li have a general class that give them their look
		//- Then an extra class if you want to override - Serby
		//- --- Yes. I've removed the specific class, no general class needed.
		//- --- I would like a selected class though to highlight the current page - Jack
		
		- var adminNav = bundleManager.get('adminNav') 
		each navItem in adminNav
			li(class= page.section == navItem.section ? 'nav-active' : '')
				a(href=navItem.url)= navItem.label
				mixin subItems(navItem.items)

