.user-navigation
  .user-welcome
    span Hi, #{session.admin.firstName}
  nav.dropdown-container
    i.icon-settings Settings
    ul.dropdown-menu
      li: a(href='/') View Site
      li: a.logout(href='/admin/logout') Logout