#user-nav
	.summary
		img(src='http://www.dummyimage.com/34', alt='Profile Picture', width="34", height="34")
		p Hi, Username
		a.logout(href='/admin/logout') Logout
	nav.sub-nav More Options
		ul
			li: a(href='/') View Site
			li: a(href='#') Example Page 1
			li: a(href='#') Example Page 2
			li: a(href='#') Example Page 3