#user-nav
	.details
		p Hi, #{session.admin.firstName}
		a.logout(href='/admin/logout') Logout
	nav.sub-nav More Options
		ul
			li: a(href='/') View Site
			li: a(href='#') Example Page 1
			li: a(href='#') Example Page 2
			li: a(href='#') Example Page 3