#user-nav
	.summary
		img(src='http://www.dummyimage.com/34', alt='Profile Picture', width="34", height="34")
		p Hi, Username
		a.logout(href='/admin/logout') Logout
	nav.sub-nav More Options
		ul
			li: a(href='/') View Site
			li: a(href='#') Profile
			li: a(href='#') Messages
			li: a(href='#') Account Settings
			li: a(href='/admin/form-elements') Form Elements
			li: a(href='/admin/grid') Grid
			li: a(href='/admin/misc-ui') Miscellaneous UI Elements