# Node.js with Express and Stlyus
public/css/*.css
public/css/main/*.css
public/css/admin/*.css
/.monitor

/log
/data
/cache

/public/js/compact

# Windows
Thumbs.db

# Vim
.*.sw[a-z]
*.un~i
tags

# OsX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# nodejs npm modules
node_modules

# node-cluster
/pids
*.sock

# ZSH Cake plugin cache
/.cake_task_cache