h1 Form Elements

nav.breadcrumb
  ul
    li.nav-home: a(href='/admin') Home
    li: a(href='/admin/ui') Admin UI
    li Form Elements

p Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim eleifend nibh porttitor.

form(action='#', method='post', enctype='multipart/form-data')

  fieldset
    h3 Standard Elements
    p.group-description Styles for standard browser form inputs.


    //-
    //- Standard Text Input
    //-

    .form-row
      label
        span.form-label-text Text Input
          abbr(title='This field is required') *
        input.form-field(type='text', name='name', placeholder='Placeholder Text')
      .form-row-description.form-copy
        p A description of what is required.


    //-
    //- Textarea
    //-

    .form-row
      label
        span.form-label-text Textarea
        textarea.form-field(name='name', rows='4') Default text
      .form-row-description.form-copy
        p A more detailed description of what is required
        ul
          li Detailed instruction 1
          li Detailed instruction 2


    //-
    //- Select Dropdown
    //-

    .form-row
      label
        span.form-label-text Default Select
        select.form-field(name='name')
          option(value='') Choose An Option
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
          option(value='4') Option 4
          option(value='5') Option 5
          option(value='6') Option 6
          option(value='7') Option 7
          option(value='8') Option 8
          option(value='9') Option 9
          option(value='10') Option 10


    //-
    //- Single Checkbox
    //-

    .form-row.form-row-checkbox
      label
        span.form-label-text Single Checkbox
        input.form-field(type='checkbox', name='name')


    //-
    //- Single Checkbox Alternate
    //-

    .form-row.form-row-alt.form-row-checkbox
      label
        input.form-field(type='checkbox', name='name')
        span.form-label-text Single Checkbox Alternate


    //-
    //- Grouped Checkboxes
    //-

    .form-row.form-row-field-group
      span.form-label-text Grouped Checkboxes
      ul.form-field
        li
          label
            input(type='checkbox', name='name', checked='checked')
            span Option 1
        li
          label
            input(type='checkbox', name='name')
            span Option 2
        li
          label
            input(type='checkbox', name='name')
            span Option 3
        li
          label
            input(type='checkbox', name='name')
            span Option 4


    //-
    //- Grouped Checkboxes
    //-

    .form-row.form-row-field-group
      span.form-label-text Grouped Checkboxes
      ul.form-field
        li
          label
            input(type='radio', name='name', checked='checked')
            span Option 1
        li
          label
            input(type='radio', name='name')
            span Option 2
        li
          label
            input(type='radio', name='name')
            span Option 3
        li
          label
            input(type='radio', name='name')
            span Option 4

    //-
    //- File Upload
    //-

    .form-row.form-row-upload
      label
        span.form-label-text File Upload
        input.form-field(type='file', name='name', multiple='multiple')
      .form-row-description.form-copy
        p Choose up to 3 images.


  //-
  //- Form Actions
  //-

  .form-row.form-row-actions
    input.button(type='reset', value='Clear')
    input.button.button-action(type='submit', value='Submit')



form(action='#', method='post', enctype='multipart/form-data')


  fieldset
    h3 Form Errors
    p.group-description Examples of form error styling.


    //-
    //- Form Error Summary
    //-

    .form-copy.form-error
      strong Oops! Something isn't right.
      p Please check the form and try again.
      ul
        li The 'Text Input' field is required. Please supply a value.
        li Please ensure your email address is written in the correct format.
        li Please select a date.


    //-
    //- Standard Text Input
    //-

    .form-row.form-row-error
      label
        span.form-label-text Text Input
          abbr(title='This field is required') *
        input.form-field(type='text', name='name', placeholder='Placeholder Text')
        span.form-row-description.form-row-error-text This field is required
      .form-row-description.form-copy
        p A description of what is required.


    //-
    //- Select Dropdown
    //-

    .form-row.form-row-error
      label
        span.form-label-text Default Select
        select.form-field(name='name')
          option(value='') Choose An Option
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
          option(value='4') Option 4
          option(value='5') Option 5
          option(value='6') Option 6
          option(value='7') Option 7
          option(value='8') Option 8
          option(value='9') Option 9
          option(value='10') Option 10
        span.form-row-description.form-row-error-text This field is required


    //-
    //- Single Checkbox
    //-

    .form-row.form-row-checkbox.form-row-error
      label
        span.form-label-text Single Checkbox
        input.form-field(type='checkbox', name='name')
        span.form-row-description.form-row-error-text This field is required


    //-
    //- Grouped Checkboxes
    //-

    .form-row.form-row-field-group.form-row-error
      span.form-label-text Grouped Checkboxes
      ul.form-field
        li
          label
            input(type='radio', name='name', checked='checked')
            span Option 1
        li
          label
            input(type='radio', name='name')
            span Option 2
        li
          label
            input(type='radio', name='name')
            span Option 3
        li
          label
            input(type='radio', name='name')
            span Option 4
      span.form-row-description.form-row-error-text This field is required


  //-
  //- Form Actions
  //-

  .form-row.form-row-actions
    input.button(type='reset', value='Clear')
    input.button.button-action(type='submit', value='Submit')




form(action='#', method='post', enctype='multipart/form-data')

  fieldset
    h3 jQuery UI Elements
    p These inputs make use of 
      a(href='http://jqueryui.com/') jQuery UI
      | .


    //-
    //- jQuery UI Autocomplete
    //-

    .form-row
      label
        span.form-label-text Autocomplete Input
        input.form-field.autocomplete(type='text', name='name')
      .form-row-description.form-copy
        p Start typing, e.g. as…

    //-
    //- jQuery UI Datepicker
    //-

    .form-row
      label
        span.form-label-text Date Input
        .datepicker
          input.form-field(type='text', name='name')


  fieldset
    h3 Chosen Select Elements
    p.group-description These inputs use the 
      a(href='http://harvesthq.github.com/chosen') Chosen
      |  JavaScript plugin. They do not currently have responsive width but 
      a(href='https://github.com/harvesthq/chosen/pull/407') a fix
      |  has been pushed to GitHub.

    .form-row
      label
        span.form-label-text Chosen Select
        select.form-field.chzn-select(data-placeholder='Choose An Option')
          option(value='')
          option(value='') Option 1
          option(value='') Option 2
          option(value='') Option 3
          option(value='') Option 4
          option(value='') Option 5
          option(value='') Option 6
          option(value='') Option 7
          option(value='') Option 8
          option(value='') Option 9
          option(value='') Option 10

    .form-row
      label
        span.form-label-text Chosen Multiple Select
        select.form-field.chzn-select(multiple)
          option(value='') Option 1
          option(value='') Option 2
          option(value='') Option 3
          option(value='') Option 4
          option(value='') Option 5
          option(value='') Option 6
          option(value='') Option 7
          option(value='') Option 8
          option(value='') Option 9
          option(value='') Option 10


  //-
  //- Form Actions
  //-

  .form-row.form-row-actions
    input.button(type='reset', value='Clear')
    input.button.button-action(type='submit', value='Submit')