extend ../../admin/views/layout

block content

  header.page-header

    h1 Admin User Interface

    nav.breadcrumb
      ul
        li.nav-home: a(href='/admin') Home
        li Admin UI

  section#form-elements
    include form-elements

  section#tables
    include tables

  section#misc-ui
    include misc-ui
