h1 Miscellaneous UI Elements

nav.breadcrumb
  ul
    li.nav-home: a(href='/admin') Home
    li: a(href='/admin/ui') Admin UI
    li Miscellaneous UI Elements

section#tooltips
  h2 Tooltips
  p Nullam in dui mauris. Vivamus 
    span(data-tooltip='Text Tooltip') molestie vehicula
    |  hendrerit arcu sed erat. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. 
    span.right(data-tooltip='Text Tooltip - Positioned Right') Suspendisse
    |  dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut 
    span.left(data-tooltip='Text Tooltip - Positioned Left') blandit
    |  odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac.
  p We can also add enhancements to specific sites such as 
    a(href='https://www.github.com', data-tooltip='View on GitHub') GitHub
    | .

section#notifications
  h2 Notifications
  p Colours are defined as Stylus variables. An optional CSS class of 'close' allows the notification to be dismissed.

  .notification.close
    p.notification-content Default message with close button

  .notification.notification-primary.close
    p.notification-content Primary message with close button

  .notification.notification-success.close
    p.notification-content Success message with close button

  .notification.notification-notice.close
    p.notification-content Notice message with close button

  .notification.notification-warning
    p.notification-content Warning message

  .notification.notification-error
    p.notification-content Error message

  p Extended examples

  .notification
    h2.notification-title Title Goes here
    p.notification-content Content of the notification is written here.

  .notification.notification-notice.close
    p.notification-content Content of the notification is written here and is intentionally long to check that it doesn't conflict with the close button which should be positioned to the right of this notification.

  .notification.notification-success.close
    h4.notification-title Success message with close button

  .notification.notification-error
    h4.notification-title Error Message
    .notification-content
      p This is an example of a notification with extra content
      ul
        li It can contain lists
        li Extra classes have been added to format the content

section#buttons
  h2 Buttons
  p
    a.button(href='#') Standard
    |  
    a.button.button-primary(href='#') Primary
    |  
    a.button.button-success(href='#') Success
    |  
    a.button.button-notice(href='#') Notice
    |  
    a.button.button-warning(href='#') Warning
    |  
    a.button.button-error(href='#') Error
    |  
    button.button Button
    |  
    input.button.button-primary(type='submit',value='Form Submit')

section#dialogs
  h2 Dialogs
  p
    button.button.button-primary(
      onclick='window.confirmDialog({ message: "Are you sure that’s what you want to do?", confirm: function () { alert("You confirmed"); }})'
    ) Action!
  h3 Usage:
  pre: code
    | window.confirmDialog({
    | 
    |   // The message to display
    |   message: 'Are you sure?',
    | 
    |   // The function to execute if the user presses the confirm button
    |   confirm: function () {},
    | 
    |   // The function to execute if the user presses the deny button
    |   deny: function () {},
    | 
    |   // The text to display in the confirm button. Optional, default is `Confirm`
    |   confirmVerb: 'Confirm',
    | 
    |   // The text to display in the confirm button. Optional, default is `Confirm`
    |   denyVerb: 'Cancel',
    | 
    |   // If `true`, the button uses the `$errorColour` (which is probably red).
    |   // Optional, and the default is `false`, in which case it uses `$primaryColour`
    |   danger: false
    | 
    | })

section#asset-browser
  h2 Asset Browser
  p
   | The following button is hooked up to an asset browser overlay, which can be included
   | on a page with the compact namespace 'admin-asset-browser'. (Obviously for this to
   | work, the asset bundle must be available).
  pre: code
    | // Usage:
    | 
    | // Require the browser
    | var browser = require('assetBrowser');
    | 
    | // Trigger the overlay with regex to use
    | // on the assets' mime type, and a function
    | // to callback with the file path
    | browser(/^image\//, function (err, path) {
    | 
    |   // `err` is an error, or null
    |   if (err) throw err;
    | 
    |   // `path` is the path fragment to the selected asset
    |   console.log(path)
    |   //-> 4ffd60ee60f8c80000000001/image.png
    | 
    |   // If the file type is image, you can get a thumbnail at:
    |   // '/asset/thumb/' + path
    | 
    |   // The full asset is available at:
    |   // '/asset/' + path
    | 
    | })
  button.button.button-primary.asset-browser Open asset browser
  div(style='border: 1px dashed #ccc; width: 100px; min-height: 50px; margin: 10px 0px; padding: 5px')

section#overlays
  h2 Overlays
  p Overlays use the 
    a(href='http://fancyapps.com/fancybox/') Fancybox
    |  jQuery plugin.

  p
    a(href='http://dummyimage.com/1000x700/47a967/fff.png', rel='fancybox-group')
      img(src='http://dummyimage.com/120x70/47a967/fff.png')
    a(href='http://dummyimage.com/600x900/4791a9/fff.png', rel='fancybox-group')
      img(src='http://dummyimage.com/120x70/4791a9/fff.png')
    a(href='http://dummyimage.com/900x800/dc7f2a/fff.png', rel='fancybox-group')
      img(src='http://dummyimage.com/120x70/dc7f2a/fff.png')
    a(href='http://dummyimage.com/1000x700/ca4427/fff.png', rel='fancybox-group')
      img(src='http://dummyimage.com/120x70/ca4427/fff.png')

section#pagination
  h2 Pagination

  .pagination

    //- If used with search results, include a summary to give indication of the total amount of results
    p.pagination-summary Showing 
      strong 1
      |  to 
      strong 10
      |  of 
      strong 60
      |  results.

    ul.pagination-list

      li.first
        a(href='#', title='Go to the first page') First
      li.previous
        a(href='#', title='Go to the previous page') Previous
      li
        a(href='#', title='Go to page 1') 1
      li
        a(href='#', title='Go to page 2') 2
      li
        a.pagination-current-page(href='#', title='Go to page 3') 3
      li
        a(href='#', title='Go to page 4') 4
      li
        a(href='#', title='Go to page 5') 5
      li.next
        a(href='#', title='Go to the next page') Next
      li.last
        a(href='#', title='Go to the last page') Last

    ul.pagination-list

      li.first.disabled
        span First
      li.previous.disabled
        span Previous
      li.disabled
        span 1
      li.next.disabled
        span Next
      li.last.disabled
        span Last
