/** Button Styles **/
.button,
.button-secondary
	display block
	text-indent -9999px
	overflow hidden
	background url("/images/content/button-sprite.png") 0px 0px no-repeat
	width 132px
	height 33px
	padding 1px
	border none

.button-secondary
	height 25px

/** Join Widget **/
.button-join
	background-position 0px 0px
	&:hover
		background-position 0px -40px
	&:active
		background-position 0px -80px
.button-more
	background-position 0px -120px
	&:hover
		background-position 0px -150px
	&:active
		background-position 0px -180px

/** Search Form - Submit Button **/
#search-controls,
#quick-search-controls
	input.submit
		width 104px
		height 32px
		background-position 0px -426px
		&:hover
			background-position 0px -461px
		&:active
			background-position 0px -496px

/** Invite a Friend Overlay **/
.box-content #invite
	input.submit
		width 114px
		height 33px
		background-position 0px -318px
		&:hover
			background-position 0px -354px
		&:active
			background-position 0px -390px

/** Restaurateurs Form - Submit Button **/
#form-restaurateurs
	input.submit
		width 195px
		height 33px
		background-position 0px -210px
		&:hover
			background-position 0px -246px
		&:active
			background-position 0px -282px

/** Recommend a Restaurant Form - Submit Button **/
#form-recommend
	input.submit
		width 134px
		height 33px
		background-position 0px -531px
		&:hover
			background-position 0px -567px
		&:active
			background-position 0px -603px