form
	float left
	width 588px
	background url("/images/content/form-bg.png") 0px 0px repeat-x #e8ebf2
	border 1px solid $borderColor
	border-radius 4px
	box-shadow 0px 0px 0px 1px #FFF inset
	padding 14px 20px

	fieldset
		float left
		display inline
		width 608px
		padding 18px 0 18px 20px
		margin 0 -20px
		border-top 1px solid #FFF
		border-bottom 1px solid $borderColor

		legend
			font-style italic
			margin-bottom 0px
			color $globalColor
			padding-left 0
			abbr
				color $primaryErrorColor
				margin-left 6px
				border 0

	label
		float left
		clear none
		display inline
		padding 0
		width 284px
		margin-right 20px
		margin-bottom 8px

		strong
			font-style italic
			margin-bottom 2px

		input
			width 270px
		select
			width 284px

/* Display Title, First and Last name in one row. Hide labels for Name */
fieldset.name
	padding-top 0
	border-top none
	label strong
		display none
		width auto
	.row-title
		label
			width 78px
		select
			width 78px
	.row-first-name
		label
			width 186px
		input
			width 172px

fieldset.actions
	position relative
	margin-bottom 0
	border-bottom none
	label
		clear left
		width 370px
		margin-bottom 0
		strong
			width auto
	input.submit
		margin 0

/* Style Placeholder attributes */
input::-webkit-input-placeholder
	color #444444
input:-moz-placeholder
	color #444444


/* Error styles */
p.error-summary
	color #FFF
	background-color $secondaryErrorColor
	border-radius 3px
	border 1px solid $primaryErrorColor
	padding 3px 5px 2px
	margin-bottom 14px
	text-shadow 0px 1px 1px $primaryErrorColor

fieldset.error,
label.error
	input, select, textarea, .chzn-single
		border 1px solid $primaryErrorColor
		border-bottom-width 0
		border-radius 3px 3px 0 0
	p.error-description
		color #FFF
		background-color $secondaryErrorColor
		border 1px solid $primaryErrorColor
		border-top-width 0
		border-radius 0 0 3px 3px
		padding 3px 5px 2px
		margin-bottom 0
		text-shadow 0px 1px 1px $primaryErrorColor
label.error.checkbox
	p.error-description
		border 1px solid $primaryErrorColor
		border-radius 3px
		margin-bottom 6px




/* Restaurateur Form */
#form-restaurateurs
	margin-top 10px
	margin-bottom 20px
	padding 14px 20px 0
	input.submit
		margin 3px 0 0 0

/* Recommend a Restaurant Form */
#form-recommend
	margin-top 10px
	padding 14px 20px 0
	fieldset.name
		.row-email
			clear left
			label
				width 588px
				strong
					display block
				input
					width 574px
	.row-restaurant-name
		label
			width 588px
		input
			width 574px
	input.submit
		float right
		margin-right 20px