.box-container
	.box-element
		box-shadow 0px 0px 0px 1px #FFF, 0px 0px 10px #333333
		border-radius 3px
		border 1px solid $primaryBrandColor

	.box-content
		h2
			padding-top 0

/* Overlay Forms */
.box-content
	form
		width 588px
		background none
		border none
		border-radius 0px
		box-shadow none
		padding 0

		fieldset
			border none
			padding 0 20px 20px

		h3
			margin-bottom 10px

		label
			strong
				display none

		.actions
			padding-bottom 0
			.submit
				margin 0 auto

/* Invite a Friend Overlay */
.box-content #invite
	a.add
		padding 1px 18px 1px
		line-height 16px
		background url('/images/content/button-sprite.png') -176px -93px no-repeat
		text-decoration none
		&:hover
			text-decoration underline
	.message-preview,
	.legal
		float left
		padding 18px 0 8px
		background url('/images/content/dotted-seperator.gif') 0 0 repeat-x
		p
			margin-bottom 10px

	.legal
		font-size 11px
		line-height 14px
		font-family Arial, Helvetica, sans-serif
		color #444