/** Sidebar Widgets **/
#join,
#quick-search,
#offer-types
	margin-bottom 30px

/** Join Widget **/
#join,
#join-feature
	height 128px
	position relative
	.card-wrapper
		position absolute
		top 0
		left -30px
		display block
		.card
			position absolute
			z-index 1
			top 0
			transition all 0.5s ease
		.shadow
			position absolute
			top 70px
			left 0px
			width 199px
			height 111px
			background url('/images/content/card-shadow.png') 0 0 no-repeat
			transition all 0.5s ease
			transform scale(0.9)
		&:hover
			.card
				top -5px
			.shadow
				/*opacity 0.5*/
				/*transform scale(0.80)*/
	.actions
		float right
		width 136px
		display inline
		margin-top 30px
		span
			display block
			height 17px
			width 134px
			overflow hidden
			padding 0
			margin 8px 0
			text-indent -9999px
			background url('/images/content/title-sprite.png') 0px -98px no-repeat
#join-feature
	.actions
		margin-top 50px
#join
	padding-bottom 0px
	height 100px
	.card-wrapper
		left 150px
		.shadow
			background url('/images/content/card-shadow-small.png') 0 0 no-repeat
			top 55px
			left -6px
			width 123px
			height 64px
	a.logo
		position absolute
		z-index 1
		top 0
		left 150px
		transition all 0.5s ease
	.actions
		float left
		margin-top 0
		width 180px
		z-index 1
		position relative
	h3
		display block
		overflow hidden
		text-indent -9999px
		margin-top 10px
		&.sign-up
			width 141px
			height 32px
			background url('/images/content/title-sprite.png') 0px -119px no-repeat
		&.find-out
			width 141px
			height 32px
			background url('/images/content/title-sprite.png') -150px -119px no-repeat
	p
		font-style italic
		a
			font-size 16px
			font-style normal
			display block

/** Quick Search Widget **/
#quick-search-controls
	width 220px !important
	label
		width auto
		margin 0 0 10px 0
		strong
			display none
		input
			width 206px
			margin 0
		select
			width 220px
			margin 0
	input.submit
		margin-bottom 8px
	h2
		padding-top 0

/** Offer Types **/
#offer-types
	background url('/images/content/form-bg.png') 0px 0px repeat-x #e8ebf2
	border 1px solid $borderColor
	border-radius 4px
	box-shadow 0px 0px 0px 1px #FFF inset
	padding 14px 14px 0
	h3
		padding-bottom 8px
		margin-bottom 12px
		background url('/images/content/dotted-seperator.gif') 0 100% repeat-x
	ul
		list-style none
		padding 0
		margin 0
	li
		list-style none
		padding 10px 0 10px 60px
		margin 0
		position relative
	span.offer-2-for-1,
	span.offer-50-off,
	span.offer-25-off,
	span.offer-bespoke
		left -36px
		z-index 1
	h4
		margin-bottom 6px


/* jQuery UI Datepicker */
input.ui-datepicker
	background url('/images/content/icon-sprite.png') right -462px no-repeat

#ui-datepicker-div
	position absolute
	top -9999px
	left -9999px
	margin-top -4px
	width 262px
	background-color #FFF
	border 1px solid #777
	border-top 0
	border-radius 0 0 4px 4px
	padding 3px 10px 10px

	table
		width auto
		margin 1px
	th
		background #EEE
	th,
	td
		padding 0px
		text-align center
		width 36px
		height 28px
		a
			display block
			width 36px
			height 28px
			line-height 28px
			text-decoration none
			&:hover
				background-color #CCC

	.ui-datepicker-current-day
		a
			color #fff
			background-color $primaryBrandColor

	.ui-datepicker-unselectable
		color #ccc

	.ui-datepicker-header
		position relative
		margin-bottom 10px
		padding-top 10px
		background url('/images/content/dotted-seperator.gif') 0px 0px repeat-x

	.ui-datepicker-title
		fontStandfirst()

	.ui-datepicker-next,
	.ui-datepicker-prev
		position absolute
		top 14px
		right 0px

		display block
		width 12px
		height 12px
		margin-left 5px
		margin-bottom 0
		overflow hidden
		text-indent -9999px

		background url('/images/content/button-sprite.png') -160px -94px no-repeat
		&:hover
			background-position -160px -110px

	.ui-datepicker-prev
		right 16px
		background-position -144px -94px
		&:hover
			background-position -144px -110px

	.ui-datepicker-other-month
		a
			color #888

.ui-autocomplete
	float left
	width 210px
	max-height 200px
	overflow-y auto
	overflow-x hidden
	margin -2px 0 0 0
	padding 4px
	list-style none
	z-index 10 !important /* Set to avoid issues with chosen in quick-search */

	background-color #FFF
	border 1px solid #777
	border-top-width 0
	border-radius 0 0 3px 3px

	.ui-menu-item
		list-style none
		padding 0
		margin 0

		a
			padding 5px
			display block
			text-decoration none
			padding 5px 7px
			line-height 15px
			font-size 12px

			&.ui-state-hover,
			&.ui-active-menuitem
				background-color #3875d7 !important
				color #FFF
				cursor pointer

label input.ui-autocomplete-open {
	border-bottom-color #FFF
	border-radius 3px 3px 0px 0px
}

.search .ui-autocomplete
	width 170px
	max-height 500px

#quick-search .ui-autocomplete
	z-index 999
