//
// MAIN FOOTER
// ===========
//

.main-footer
  position fixed
  bottom 0
  left 0
  width 240px
  text-align center
  padding 10px 0
  z-index 1

  a
    color #999
    text-decoration none
    &:hover
      color #333

  // Extra styles for the Ctrl logo
  .ctrl
    font-family $headingFontFamily
    color #888

  a:hover .ctrl
    color #222
