!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='description', content=properties.description)
		meta(name='keywords', content=properties.keyWords)
	
		//- SITE INFORMATION
		title=page.title

		//- CSS
		link(rel='stylesheet', type='text/css', href='/css/main/index.css', media='all')

		//- MOBILE
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		script
			document.getElementsByTagName('html')[0].setAttribute('class', 'js');

	body(class=page.section)
		#page
			include includes/header
			include includes/nav
			#main-content
				!= body
			include includes/footer

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
		script
			if (typeof jQuery === 'undefined') {
				document.write('<script src="/js/jquery-1.7.min.js" />');
			}
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js')
		script
			if (typeof jQuery.ui === 'undefined') {
				document.write('<script src="/js/jquery-ui-1.8.14.min.js" />');
			}