include ../../views/includes/article-details
- if ((typeof latestPost !== 'undefined') && Object.keys(latestPost).length > 0)
  mixin articleDetails(latestPost, { h2: true, length: 500, summary: true })

  a(href='#{latestPost.path}',class='button arrow') Read more
- else
  h2 Currently no blog posts