ul.ui-autocomplete
	width 218px
	padding 0px
	margin 0px 0px 0px 0px
	border 1px solid #EFEFEF

	border-radius 3px 3px 3px 3px

	li.ui-menu-item
		list-style-type none
		margin 0px 0px 0px 0px
		background-color #FAFAFA

		a
			display block
			padding 6px 6px 6px 6px
			text-decoration none
			color #333333
			border-bottom 1px dotted #EFEFEF
			transition 0.2s background linear
		.ui-state-hover
			position relative
			z-index 2
			cursor: pointer
			background-color $labelHoverColor
