.dialog-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(#000, 0.5)

.dialog-confirm
  position fixed
  top 40%
  width 400px
  margin-left -200px
  left 50%
  background-color #fff
  border-radius 3px
  border 1px solid #777
  box-shadow 0px 0px 0px 3px rgba(#fff, 0.1)

  p
    padding 30px 20px 12px

  .controls
    border-top 1px solid #ccc
    padding 10px 10px
    overflow hidden
    background-color #fafafa
    box-shadow 0px 3px 3px rgba(#000, 0.1)
    border-radius 0px 0px 3px 3px

    button
      float right
      margin-left 10px
