/*
 * Forms
 */

fieldset
	margin-bottom $baseLineHeight

.form-row
	margin-bottom 18px
	width 100%

label,
.label
	display block
	color $labelFontColor
	margin-bottom 2px

	& > span
		display inline-block
		padding-right 20px
		box-sizing border-box
		width 30%
		vertical-align top
		padding-top 6px /* TODO padding must match input padding and border height to line up span corrctly */

		abbr /* Indicates required files */
			color $errorColor
			margin-left 4px
			border 0

input,
select
textarea
	display inline-block
	width 70%
	vertical-align top
	padding 5px
	box-sizing border-box
	color $inputFontColor
	border 1px solid $baseBorderColor
	background-color $inputBackground
	outline 0 /* Be sure to set a focus style if using this */
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius
	if $baseTransitionDuration != 0
		transition border $baseTransitionDuration $baseTransitionEasing, box-shadow $baseTransitionDuration $baseTransitionEasing
	&:hover
		border-color darken($baseBorderColor, 10)
	&:active,
	&:focus
		border-color $primaryColor
		box-shadow 0px 1px 5px rgba(0,0,0,.2) inset, 0px 0px 5px rgba($primaryColor, 0.8)

select
	height 30px
	width 70%

textarea
	height 100px
	vertical-align top
	resize vertical
	overflow auto /* Hides scrollber in IE when not needed*/

.checkbox > span,
.radio > span,
.field-group label > span,
.field-group .label > span
	padding-top 1px

.checkbox,
.radio,
.field-group
	input
		width auto
		vertical-align middle
		background none
		border 0
		margin-right 6px

/* Allow source code order dictate styles for single checkboxes with labels left/right */
.checkbox,
.radio
	span
		width 70%
		margin-left -20px
		padding-left 20px
		padding-right 0
	span:first-child
		width 30%
		margin-left 0
		padding-left 0
		padding-right 20px
	input:first-child
		margin-left 30%

.field-group
	.label
		vertical-align top
		display inline-block
		width 30%
		span
			width 100%
			margin-right 0

	ul
		display inline-block
		width 70%
		list-style none
		margin 0
		padding 0
	li
		list-style none
		margin 0
		padding 0

fieldset.actions
	display block
	text-align right
	input
		margin-left 20px

/** Field Descriptions **/
.form-row
	.description
		margin-left 30%
		font-size 11px
		color #999
		if $baseTransitionDuration != 0
			transition color $baseTransitionDuration $baseTransitionEasing
		p,ul,li
			margin-bottom 0
	&:hover .description
		color #555

/** Form Errors **/
label.error
	input
		border 1px solid darken($errorColor, 14)
		border-radius $baseBorderRadius $baseBorderRadius 0 0
		&:active,
		&:focus
			box-shadow 0px 1px 5px rgba(0,0,0,.2) inset, 0px 0px 5px rgba($errorColor, 0.8)
	.error-description
		margin-left 30%
		padding 2px 5px
		background-color $errorColor
		border 1px solid darken($errorColor, 14)
		border-top 0
		text-shadow 0px 1px 1px darken($errorColor, 14)
		border-radius 0 0 $baseBorderRadius $baseBorderRadius
		if dark(darken($errorColor, 7))
			color #FFFFFF
		else
			color #333333

/*
 * Advanced Controls
 */

/** Autocomplete **/

.ui-autocomplete
	position absolute
	cursor default

.ui-menu
	float left
	display block
	list-style none

	margin 0 3px 3px 0
	max-height 190px
	padding 3px
	position relative
	overflow-x hidden
	overflow-y auto

	border 1px solid $baseBorderColor
	background-color $inputBackground
	if $baseBorderRadius != 0
		border-radius 0 0 $baseBorderRadius $baseBorderRadius
	if $baseTransitionDuration != 0
		transition border $baseTransitionDuration $baseTransitionEasing, box-shadow $baseTransitionDuration $baseTransitionEasing

	.ui-menu-item
		clear left
		float left
		list-style none
		width 100%
		margin 0

		a
			border 1px solid transparent
			display block
			padding 3px 7px 4px
			color $inputFontColor
			text-decoration none

			&:hover
			&.ui-state-hover
				text-shadow 0px 1px 1px darken($primaryColor, 6)
				background-color $primaryColor
				border 1px solid darken($primaryColor, 6)
				box-shadow 0px 0px 0px 1px lighten($primaryColor, 5) inset
				if dark($primaryColor)
					color #FFFFFF /* TODO - move to variable */
				else
					color #333333 /* TODO - move to variable */


/** Datepicker **/
input.datepicker
	position relative
	/*background versionPath("/images/admin/content/datepicker-sprite.png") 0 0 no-repeat*/
	background-position 99% 5px
	background-repeat no-repeat
	background-size 18px 18px
	background-linear-gradient(top, #CCC, 0%, #ccc, 100%)
	background-color transparent

#ui-datepicker-div
	position absolute
	left -9999px
	background-color #FFF
	padding 10px
	margin-top 10px
	border 1px solid darken($baseBorderColor, 10)
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius
	box-shadow 0px 2px 8px -4px rgba(0,0,0,.5)
	&::before
		content ""
		position absolute
		top -12px
		left 10px
		width 25px
		height 12px
		background versionPath("/images/admin/content/datepicker-sprite.png") 0px -61px no-repeat

	.ui-datepicker-title
		padding-bottom 6px
		border-bottom 1px solid $baseBorderColor
		margin-bottom 5px
		font-weight bold
		color #333333 /* TODO - Set with variable? */

	.ui-datepicker-next,
	.ui-datepicker-prev
		position absolute
		top 14px
		right 10px
		display block
		width 12px
		height 12px
		margin-left 5px
		margin-bottom 0
		overflow hidden
		text-indent -9999px
		background versionPath("/images/admin/content/button-sprite.png") -160px -94px no-repeat $primaryColor
		&:hover
			background-position -160px -110px
	.ui-datepicker-prev
		right 24px
		background-position -144px -94px
		&:hover
			background-position -144px -110px

	table
		width auto
		margin-bottom 0
		margin-right 1px /* Rectifies border collapse causing a padding mismatch */
	th,
	td
		padding 0
	th
		font-size 10px
		text-transform uppercase
		border none
		text-align center
	td
		border 1px solid $baseBorderColor
		text-align center
		a,
		span
			display block
			width 30px
			height 30px
			line-height 30px
			text-decoration none
			font-weight bold
			color #333333 /* TODO - convert to variable */
		a
			&:hover,
			&:active,
			&:focus
				background-color $primaryColor
				if dark($primaryColor)
					color #FFFFFF
				else
					color #555555
		span
			cursor default

	.ui-datepicker-today
		a
			font-weight bold
			background-color #F7F7F7
			box-shadow 0px 1px 4px rgba(0,0,0,.2) inset
	.ui-datepicker-current-day
		a,
		span
			background versionPath("/images/admin/content/datepicker-sprite.png") 0 0 no-repeat $primaryColor
			&:hover
				background-image none
	.ui-datepicker-other-month
		a,
		span
			color #555555
			font-weight normal
	.ui-datepicker-unselectable
		a,
		span
			color #CCCCCC
			font-weight normal