/*
 * General Styles
 */

/** Buttons **/
button,
.button
	position relative
	display inline-block
	width auto
	padding 5px 16px
	font-weight bold
	background-color $buttonColor
	border 1px solid darken($buttonColor, 14)
	text-decoration none
	outline 0 /* Be sure to set a focus style if using this */
	cursor pointer
	box-shadow 0px 0px 0px 1px lighten($buttonColor, 5) inset
	if dark($buttonColor)
		color #FFFFFF /* TODO - move to variable */
	else
		color #999999 /* TODO - move to variable */

	if $baseBorderRadius != 0
		border-radius $baseBorderRadius
	if $baseTransitionDuration != 0
		transition border $baseTransitionDuration $baseTransitionEasing, background-color $baseTransitionDuration $baseTransitionEasing

	&:hover
		background-color darken($buttonColor, 3)
		color #777
	&:active,
	&:focus
		top 1px
		background-color darken($buttonColor, 5)

	&.primary
		text-shadow 0px 1px 1px darken($primaryColor, 6)
		background-color $primaryColor
		border 1px solid darken($primaryColor, 6)
		box-shadow 0px 0px 0px 1px lighten($primaryColor, 5) inset
		if dark($primaryColor)
			color #FFFFFF /* TODO - move to variable */
		else
			color #333333 /* TODO - move to variable */
		&:hover
			background-color lighten($primaryColor, 3)
		&:active,
		&:focus
			background-color darken($primaryColor, 3)




#main-content
	padding-top 40px
	padding-bottom 40px

	h1
		color #232323
		font-weight normal
		margin-bottom 6px

		a
			text-decoration none

nav.breadcrumb
	margin-bottom 18px
	ul,
	li
		list-style none
		padding 0
		margin 0
	li
		display inline
		&:before
			content " / "
		&:first-child:before
			content ""
		&,
		a
			font-size 12px
			color #919191

fieldset,
[class^="panel"]
	position relative
	background-color #FFF
	padding 18px 20px 2px
	margin-bottom $baseLineHeight
	box-shadow 0px 1px 2px rgba(0,0,0,.4)
	border-radius 3px

	h3
		position relative
		margin -18px -20px 18px
		padding 3px 20px
		font-size 13px
		font-weight bold
		text-transform uppercase
		background-color $primaryColor
		border 1px solid darken($primaryColor, 6)
		text-shadow 0px 1px 1px darken($primaryColor, 6)
		box-shadow 0px 0px 0px 1px lighten($primaryColor, 5) inset
		color #FFFFFF
		border-radius 3px 3px 0 0

fieldset.actions
	text-align right
	background-color transparent
	padding 0 20px
	margin-bottom $baseLineHeight
	box-shadow none

.page-actions
	position absolute
	top 44px
	right 0

	li
		float left
		margin-left 10px

.filter-form
	position absolute
	top 7px
	right 20px
	form
		width auto

	label
		position relative
		display inline
		strong
			display none
		input
			width 150px
			height 26px
			padding 3px 10px
			padding-left 10px
			border-right 0
			border-radius 30px 0 0 30px

			&:hover
				border-color darken($baseBorderColor, 10)
			&:active,
			&:focus
				border-color darken($baseBorderColor, 10)
				box-shadow 0px 1px 5px rgba(0,0,0,.2) inset, 0px 0px 5px rgba($primaryColor, 0.8)

		a.reset
			position absolute
			display block
			top 6px
			right 5px
			width 12px
			height 12px
			text-indent -9999px
			overflow hidden
			background-image url("/images/admin/content/v" + version() +"/ui-sprite.png")
			background-position -70px -2px
			background-repeat no-repeat
			&:hover
				background-position -100px -2px

	input.button
		height 26px
		width 28px
		text-indent -9999px
		font-size 0px
		line-height 0px
		background-image url("/images/admin/content/v" + version() +"/ui-sprite.png")
		background-position -120px 4px
		background-repeat no-repeat
		border-radius 0 30px 30px 0
		&:active
			top 0
			border-color darken($baseBorderColor, 10)
			box-shadow none

/** TEMP table control styles **/
td
	vertical-align top
	padding-top 10px
	a
		color $globalColor
		text-decoration none
		&:hover
			text-decoration underline
	.row-actions,
	.row-actions-block
		display inline
		margin-top 4px
		margin-left 20px
		padding 0
		font-size 12px
		opacity 0
		transition opacity 0.2s ease
		li
			margin 0 10px 0 0
			padding 0
			list-style none
			display inline
			a
	.row-actions-block
		display block
		margin-left 0
tr:hover td
	.row-actions,
	.row-actions-block
		opacity 1
/* Fading Inline Row Controls */
td.title
	strong
		font-size 14px


/**/
.admin-ui
	#main-content
		section
			float left
			width 100%
			clear left
			padding-top 10px
			margin-top 8px
			h1
				border-bottom: 2px solid #bbb;
				padding-bottom: 5px;
				margin-bottom: 30px;
				font-weight: normal;
			.breadcrumb
				display none

/**/

section:target
	margin-left -18px
	margin-right -18px
	padding-left 17px
	padding-right 17px
	border 1px solid transparent
	border-radius 5px
	-webkit-animation-name target-highlight
	-webkit-animation-duration 2.5s
	-webkit-animation-iteration-count
	-webkit-animation-timing-function ease-in-out

@-webkit-keyframes target-highlight
	0%
		background-color rgba($primaryColor, 0)
		border-color rgba($primaryColor, 0)
	20%
		background-color rgba($primaryColor, 0.2)
		border-color rgba($primaryColor, 0.4)
	100%
		background-color rgba($primaryColor, 0)
		border-color rgba($primaryColor, 0)