#page-notification
	position fixed
	width 100%
	top 0
	left 0
	z-index 10
	.notification
		display none
		text-align center
		opacity 0.95

.notification
	position relative
	background-color $notificationColor
	border 1px solid darken($notificationColor, 14)
	text-shadow 0px 1px 1px darken($notificationColor, 14)
	padding 10px 14px
	margin-bottom $baseLineHeight
	font-weight bold
	if $baseBorderRadius != 0
		border-radius $baseBorderRadius
	if dark($notificationColor)
		color #FFFFFF
	else
		color #333333

	h4
		color inherit
		font-size 16px
		line-height 18px
		font-weight bold
		margin-bottom 10px


	&.success
		background-color $successColor
		border 1px solid darken($successColor, 14)
		text-shadow 0px 1px 1px darken($successColor, 14)
		if dark($successColor)
			color #FFFFFF
		else
			color #333333
	&.notice
		background-color $noticeColor
		border 1px solid darken($noticeColor, 14)
		text-shadow 0px 1px 1px darken($noticeColor, 14)
		if dark($noticeColor)
			color #FFFFFF
		else
			color #333333
	&.warning
		background-color $warningColor
		border 1px solid darken($warningColor, 14)
		text-shadow 0px 1px 1px darken($warningColor, 14)
		if dark($warningColor)
			color #FFFFFF
		else
			color #333333
	&.error
		background-color $errorColor
		border 1px solid darken($errorColor, 14)
		text-shadow 0px 1px 1px darken($errorColor, 14)
		if dark(darken($errorColor, 7))
			color #FFFFFF
		else
			color #333333

	p
		margin 0
	.button-close
		position absolute
		right 14px
		top 14px
		display block
		width 10px
		height 11px
		text-indent -9999px
		overflow hidden
		background url(versionPath("/images/admin/content/notification-sprite.png")) 0px 0px no-repeat
		&:hover
			background-position 0px -11px
		&:active
			background-position 0px -22px