table
	width 100%

	th,
	td
		padding 8px
	th
		text-align left
		font-weight bold
		border-bottom 2px solid #666666
		color #555555 /* TODO - Convert to variable */

	td
		border-bottom 1px solid #999999

	&.highlight
		tbody
			tr:hover
				background-color lighten($primaryColor, 40)

	&.sortable
		th
			a
				padding-right 14px
				text-decoration none
				color #333333 /* TODO - Convert to variable */
				background url(versionPath("/images/admin/content/table-sortable.png")) 100% 40px no-repeat /* Position sprite offscreen as default */
				&:hover
					color #000000
			&.sort-asc
				a
					background-position 100% 7px
					&:hover
						background-position 100% -33px
			&.sort-desc
				a
					background-position 100% -73px
					&:hover
						background-position 100% -113px

