h1 Grid

nav.breadcrumb
	ul
		li.nav-home: a(href='/admin') Home
		li Grid

h2 Fluid Widths

p Webkit, Opera and 
	span(data-tooltip="Internet Explorer") IE
	|  all completely fail at rounding fractional percentages, so this demo currently only works flawlessly in Firefox.
p Webkit and Opera round down any fractional pixel value, resulting in leftover whitespace to the right of the grid. IE rounds each fractional value up or down independently of eachother which can lead to cumulative widths which are too wide.

.grid-12
	.row
		.col-12 12
	.row
		.col-11 11
		.col-1 1
	.row
		.col-10 10
		.col-2 2
	.row
		.col-9 9
		.col-3 3
	.row
		.col-8 8
		.col-4 4
	.row
		.col-7 7
		.col-5 5
	.row
		.col-6 6
		.col-6 6
	.row
		.col-2 2
		.col-2 2
		.col-2 2
		.col-2 2
		.col-2 2
		.col-2 2
	.row
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1
		.col-1 1