//
// Base Styles
// ===========
// Note: Typographic styles should live in typography.styl
//

body
  background #efefef

// Display in IE
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display block
  margin 0
  padding 0

// Reset padding and margin for these elements - remove any that are unused
html, body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  margin-bottom 1em

p, pre, ul, ol, dd, hr, legend, button, address, table, blockquote
  margin-bottom 1.5em

fieldset, img
  border 0

img, object
  vertical-align bottom

ul li
  list-style-type disc
  list-style-position inside

ol li
  list-style-type decimal
  list-style-position inside

nav
  ul, ol
    margin-bottom 0
    li
      list-style none

sub,
sup
  position relative
  font-size 75%
  line-height 0
  vertical-align baseline

sup
  top -0.5em

sub
  bottom -0.25em

legend
  color #000
  padding-bottom .5em

table
  border-collapse collapse
  border-spacing 0

th
  text-align center

tbody th
  text-align left

blockquote, q, em, cite, dfn, i, cite, var, address
  font-style italic

blockquote p:before, blockquote p:after, q:before, q:after
  content ''

th, strong, dt, b
  font-weight bold

ins
  text-decoration none
  border-bottom 3px double #333

del
  text-decoration line-through

mark
  background-color #FF9
  color #000000
  font-style italic
  font-weight bold

abbr,
acronym
  border-bottom 1px dotted #333
  font-variant normal


dt


dd
  margin-top .5em

hr
  display block
  height 1px
  border 0
  border-top 1px solid #cccccc
  margin-right 30px
  margin-left 30px

blockquote
  border-left 1px solid #ccc
  padding 10px 20px 10px 39px
  background-color #fafafa

  p
    margin-bottom 0