.container
  width 960px
  margin 30px auto
  background-color #fff
  box-shadow 0px 1px 10px rgba(0,0,0,.2)

.layout-section
  padding 30px

.main-content
  overflow hidden

.col-primary
.col-secondary
  float left
  box-sizing border-box

.col-primary
  width 70%
  padding-right 30px

.col-secondary
  width 30%


.main-sidebar
  background-color #efefef
  padding 30px