/*
 * Styles which are common to all pages
 */

html, body
	// height 100%

body
	position relative
	background-color #F7F7F7
	background-image url("/images/admin/structure/v" + version() + "/bg-page.gif")
	background-position 0px 0px
	background-repeat repeat

#container
	max-width 1200px
	min-width 810px
	margin 0 auto

#sidebar-bg
	position fixed
	top 0
	left 0
	width 200px
	height 100%
	background-linear-gradient(top, #3b3f42, 80%, #25292d, 100%)
	background-color #3b3f42
	z-index 0

#main-header
	position absolute
	width 200px
	top 0
	left 0
	background-color #3b3f42
	z-index 1

	&::before
		top 100%
		left 0
		position absolute
		display block
		content ""
		width 100%
		height 10px
		pointer-events none
		background-linear-gradient(top, rgba(59, 63, 66, 1), 0%, rgba(59, 63, 66, 0), 100%)
		background-color transparent

	&::after
		top 0
		right 0
		position absolute
		display block
		content ""
		height 100%
		width 20px
		pointer-events none
		background-linear-gradient(left, rgba(0,0,0,0), 0%, rgba(0,0,0,0.05), 100%)

	h1
		margin 18px 20px
		span
			display block
			border-bottom 0
		a
			display block
			text-decoration none
			display inline-block
			width 164px
			height 84px
			text-indent -9999px
			overflow hidden
			margin 0 -2px
			background-image url("/images/admin/content/v" + version() +"/logo-control.png")
			background-position 0px 0px
			background-repeat no-repeat

	.js &
		position fixed

#user-nav
	float left
	width 160px
	margin 0 20px 18px
	position relative
	z-index 1

	.details
		float left
		width 124px
		height 34px
		p
			font-size 12px
			line-height 15px
			font-weight bold
			color #c7c7c7
			text-shadow 0 1px 1px rgba(0,0,0,.25)
			margin-top 1px
			margin-bottom 0
		a.logout
			font-size 11px
			line-height 14px
			color #bbb
			text-decoration none
			&:hover
				text-decoration underline

	nav.sub-nav
		z-index 1
		position relative
		float right
		width 24px
		height 34px
		text-indent -9999px
		outline 0
		border-radius 3px
		border 1px solid transparent
		background-image url("/images/admin/content/v" + version() +"/icon-settings.png")
		background-position 50% 50%
		background-repeat no-repeat
		cursor pointer

		ul
			display none
			position absolute
			width 160px
			right 0
			top 38px

			text-indent 0
			background-color #111
			box-shadow 0px 2px 4px rgba(0,0,0,.4)
			&:before
				position absolute
				display block
				content ""
				width 160px
				height 4px
				top -4px
			&::after
				position absolute
				display block
				content ""
				right 8px
				top -7px
				width 0
				height 0
				border-style solid
				border-width 4px
				border-color transparent transparent #111 transparent
		li
			a
				display block
				padding 5px 10px
				font-size 12px
				font-weight normal
				color #c7c7c7
				border-top 1px solid #222
				border-bottom 1px solid #000
				text-decoration none
				&:hover
					color #fff
					background-color #1f1f1f
					border-top-color #2f2f2f
					border-bottom-color #0f0f0f

		&:hover
			background-color rgba(0,0,0,.15)
			background-color rgba(255,255,255,0.03)
			border 1px solid #383b3e
			box-shadow 0px 0px 1px rgba(255,255,255,0.1) inset
			ul
				display block

#main-nav
	clear left

	ul
		margin 0
		padding 0
		list-style none
		border-bottom 1px solid #474b4e
		border-top 1px solid #2f3336
	li
		margin 0
		padding 0
		list-style none
		border-top 1px solid #474b4e
		border-bottom 1px solid #2f3336
	a
		display block
		position relative
		vertical-align bottom
		padding 14px 20px
		line-height 18px
		height 18px
		text-decoration none
		color #c7c7c7
		font-size 14px
		text-shadow 0 1px 1px rgba(0,0,0,.25)
	a:hover
	.nav-active > a
		color #FFF
		padding-left 16px
		border-left 4px solid $primaryColor
	.nav-active > a
		background-color rgba($primaryColor, 0.1)
		background-linear-gradient(top, rgba(lighten($primaryColor, 20), 0.1), 0%, rgba(darken($primaryColor, 20), 0.1), 100%)
	.nav-active > a
		font-weight bold

	.sub-nav
		display none
		border-top 1px solid rgba(255,255,255,.05)
		border-bottom 0
		background-color rgba(0,0,0,.15)
		li
			border 0
			border-top 1px solid rgba(255,255,255,.05)
			border-bottom 1px solid rgba(0,0,0,.15)
		li:first-child
			border-top 1px solid rgba(0,0,0,.15)
		li:last-child
			border-bottom 0
		a
			padding 4px 20px
			border-left 0
			font-size 12px
			font-weight normal
			&:hover
				padding-left 16px
				border-left 4px solid $primaryColor

	.nav-active .sub-nav
		display block

	/* Third level navigation */
	.sub-nav .sub-nav
		a
			padding-left 30px
			&:hover
				padding-left 26px

		.js &
			display none

	.js & .nav-expandable::after
		position absolute
		content ""
		display block
		right 20px
		top 50%
		width 6px
		height 8px
		margin-top -4px
		background-image url("/images/admin/content/v" + version() +"/nav-sprite.png")
		background-position 0 0
		background-repeat no-repeat
		transition all 0.4s ease
	.js & .nav-expandable.nav-expanded::after
		transform rotate(-90deg)

#main-content
	position relative
	width auto
	margin-left 240px
	margin-right 40px
	&:after
		content "."
		display block
		height 0
		clear both
		visibility hidden

#main-footer
	position fixed
	bottom 0
	left 0
	width 200px
	text-align center
	padding 10px 0

	p,a
		color #bbb
		font-size 11px
		line-height 14px

	p
		padding 0 20px

	a
		&:hover
			color #fff

	a.logo-control
		display inline-block
		width 125px
		height 32px
		text-indent -9999px
		overflow hidden
		margin 0 auto
		background-image url("/images/admin/content/v" + version() +"/footer-logo-control.png")
		background-position 0px 0px
		background-repeat no-repeat


/** Login Page **/
.login
	#main-content
		margin 0 200px