/*
 * Styles which are common to all pages
 */

html, body
	height 100%

body
	position relative
	background-color #F7F7F7
	background-image url("/images/admin/structure/bg-page.gif")
	background-position 0px 0px
	background-repeat repeat

#page
	max-width 1200px
	min-width 810px
	margin 0 auto
	height 100%

#main-header
	position fixed
	top 0
	left 0
	width 200px
	height 100%
	background-linear-gradient(top, #3b3f42, 80%, #25292d, 100%)
	background-color #3b3f42

	h1
		margin 18px 20px
		span
			display block
			border-bottom 0
		a
			display block
			text-decoration none
			display inline-block
			width 164px
			height 84px
			text-indent -9999px
			overflow hidden
			margin 0 -2px
			background-image url("/images/admin/content/logo-control.png")
			background-position 0px 0px
			background-repeat no-repeat


#user-nav
	float left
	width 160px
	margin 0 20px 18px

	.details
		float left
		width 124px
		height 34px
		p
			font-size 12px
			line-height 15px
			font-weight bold
			color #c7c7c7
			text-shadow 0 1px 1px rgba(0,0,0,.25)
			margin-top 1px
			margin-bottom 0
		a.logout
			font-size 11px
			line-height 14px
			color #bbb
			text-decoration none
			&:hover
				text-decoration underline

	nav.sub-nav
		position relative
		float right
		width 24px
		height 34px
		text-indent -9999px
		outline 0
		border-radius 3px
		border 1px solid transparent
		background-image url("/images/admin/content/icon-settings.png")
		background-position 50% 50%
		background-repeat no-repeat
		cursor pointer

		ul
			display none
			position absolute
			width 158px
			right -1px
			top 34px
			text-indent 0
			border 1px solid #383b3e
			border-top 0
			border-radius 0 0 3px 3px
			box-shadow 0 1px 0 rgba(255,255,255,0.05)
			background-color #4d5359
			box-shadow 0px 2px 4px rgba(0,0,0,.4)

		li
			border-top 1px solid #383b3e
			background-color rgba(0,0,0,.15)
			a
				display block
				padding 5px
				font-size 12px
				font-weight normal
				color #fff
				text-decoration none
				&:hover
					font-weight bold
					background-color rgba($primaryColor,.05)

		&:hover
			background-color rgba(0,0,0,.15)
			background-color rgba(255,255,255,0.03)
			border 1px solid #383b3e
			ul
				display block

#main-nav
	clear left

	ul
		margin 0
		padding 0
		list-style none
		border-bottom 1px solid #474b4e
		border-top 1px solid #2f3336
	li
		margin 0
		padding 0
		list-style none
		border-top 1px solid #474b4e
		border-bottom 1px solid #2f3336
	a
		display block
		vertical-align bottom
		padding 14px 20px
		line-height 18px
		height 18px
		text-decoration none
		color #c7c7c7
		font-size 14px
		text-shadow 0 1px 1px rgba(0,0,0,.25)
	a:hover
	.nav-active a
		color #FFF
		padding-left 16px
		border-left 4px solid $primaryColor
		background-color rgba($primaryColor,.05)
	.nav-active a
		font-weight bold

	.sub-nav
		display none
		border-bottom 0
		border-top 0
		background-color rgba(0,0,0,.15)
		li
			border 0
			border-top 1px solid #3b3f45
		a
			padding 5px 20px
			border-left 0
			font-size 12px
			font-weight normal
			&:hover
				padding-left 16px
				border-left 4px solid $primaryColor

	.nav-active .sub-nav
		display block

	/* Third level navigation */
	.sub-nav .sub-nav
		a
			padding-left 30px
			&:hover
				padding-left 26px

#main-content
	position relative
	width auto
	margin-left 240px
	margin-right 40px

#main-footer
	position fixed
	bottom 0
	left 0
	width 200px
	text-align center

	p,a
		color #bbb
		font-size 11px
		line-height 14px

	p
		padding 0 20px

	a
		&:hover
			color #fff

	a.logo-control
		display inline-block
		width 125px
		height 32px
		text-indent -9999px
		overflow hidden
		margin 0 auto 8px
		background-image url("/images/admin/content/footer-logo-control.png")
		background-position 0px 0px
		background-repeat no-repeat