/*
 * Styles elements which are common to all pages
 */

/*
 * Primary Navigation
 */

#main-header
	background-image none

#admin-nav
	li
		a
			width auto
			text-indent 0px
			padding 0 18px
			font-family Arial, Helvetica, sans-serif
			font-weight bold
			text-decoration none
			font-size 15px
			background url("/images/admin/structure/nav-sprite.gif") 0px 0px repeat-x
			&:hover
				background-position 0px -54px
			&:active
				background-position 0px -108px
	.home #admin-nav li.nav-home a,
	.promos #admin-nav li.nav-promos a,
	.administrators #admin-nav li.nav-administrators a
		background-position 0px -108px

#user-nav
	position absolute
	top 0px
	right 20px
	li
		display inline
		list-style none
		padding 0
		margin 0
		border-right 1px solid #aaa
		&.last
			border-right none
	a
		display inline-block
		padding 4px 18px
		color #FFFFFF
		text-decoration none
		text-shadow $redTextShadow
		&:hover
			text-decoration underline


/*
 * Admin Sticky Footer
 * Self contained, delete this section to remove functionality
 * Also remove #page from layout.jade
 */
html, body
	height 100%
#page
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto -51px
#main-footer
	height 18px
#main-content
	padding-bottom 151px !important