//
// INDEX STYLESHEET
// ================
// All Stylus imports should live in here.
//


//
// SETUP
//

@import 'nib'
@import 'settings' // Review all variable implementations


//
// FOUNDATIONS
// Base HTML and generic site-wide elements
//

@import 'foundations/base'
@import 'foundations/typography'
@import 'foundations/structure'
@import 'foundations/form'
@import 'foundations/table'
@import 'foundations/icons' // Move file? Look at :hover issue in file.


//
// LAYOUT SECTIONS
//

@import 'layout/main-header'
@import 'layout/main-navigation'
@import 'layout/user-navigation'
@import 'layout/main-content'
@import 'layout/main-footer'


//
// GENERIC COMPONENTS
//

@import 'components/buttons'
@import 'components/breadcrumb'
// Unsorted
@import 'components/notification'
@import 'components/tooltips'
@import 'components/pagination'


//
// SPECIALISED COMPONENTS
//

@import 'components/list-filter-form'
@import 'components/custom.fancybox'
// Unsorted
@import 'components/markitup'
@import 'components/dialogs'


//
// FORM COMPONENTS
//

@import 'components/autocomplete' // Remove
@import 'components/datepicker'
// Unsorted
@import 'components/custom.chosen' // Switch Chosen for Select2


//
// EXTRAS
//
@import 'sandbox'