//
// SANDBOX
// =======
// Nothing should ever find a home in this file.
// It is a temporary home for prototyping styles only.
//



// Login Page
.login
  background-color #efefef
  margin 40px

.password-reset
  float right
  margin-top -44px





fieldset,
[class^="panel"]
  position relative
  margin-bottom 3em

  h3
    position relative
    text-transform uppercase
    border-bottom 2px solid #ccc
    padding-bottom 10px
