//
// SETTINGS
// ========
// Project specific setings which can be changed to modify the basic look and
// feel of the project with little effort.
//


//
// LAYOUT
//

$baseMarginBottom = 1.5em


//
// TYPOGRAPHY
//

$headingFontFamily = Montserrat, 'Arial Black', Arial, sans-serif

$baseFontFamily = 'Lato', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif
$baseFontSize = 90%
$baseLineHeight = 1.6
$baseFontColor = #222


//
// COLOURS
//

// Brand Colours
$colorPrimary = #30678f

// Base Button / Notification Colours
$colorBase = #bbb
$colorBorder = #ccc

// Notification Colours
$colorSuccess = #47a967
$colorNotice = #4791a9
$colorWarning = #dc7f2a
$colorError = #ca4427


//
// FORM SPECIFIC
//

$textInputPadding = 5px
$inputBackgroundColor = #FFFFFF // Remove?


//
// GLOBAL VISUAL ELEMENTS
//

$baseBorderRadius = 0 // Set to 0 to disable
$baseBoxShadow = 0px 1px 4px rgba(69, 85, 93, 0.4) // Set to none to disable


//
// ANIMATIONS AND TRANSITIONS
//

$baseTransitionDuration = 0.2s // Set to 0s to disable transitions // Remove?
$baseTransitionEasing = ease // Remove?
