h2 Buttons

p
  a.button(href='#buttons') Standard
  |  
  a.button.button-primary(href='#buttons') Primary
  |  
  a.button.button-success(href='#buttons') Success
  |  
  a.button.button-notice(href='#buttons') Notice
  |  
  a.button.button-warning(href='#buttons') Warning
  |  
  a.button.button-error(href='#buttons') Error
  |  
  button.button Button Element
  |  
  input.button.button-primary(type='submit',value='Form Submit')
