h2 Buttons

p
  a.button(href='#') Standard
  |  
  a.button.button-primary(href='#') Primary
  |  
  a.button.button-success(href='#') Success
  |  
  a.button.button-notice(href='#') Notice
  |  
  a.button.button-warning(href='#') Warning
  |  
  a.button.button-error(href='#') Error
  |  
  button.button Button Element
  |  
  input.button.button-primary(type='submit',value='Form Submit')
