h2 Form Elements

p Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim eleifend nibh porttitor.

form(action='#', method='post', enctype='multipart/form-data')

  fieldset
    h3 Standard Elements
    p.group-description Styles for standard browser form inputs.


    //-
    //- Standard Text Input
    //-

    .form-row
      label
        span.form-label-text Text Input
          abbr(title='This field is required') *
        input.form-field(type='text', name='name', placeholder='Placeholder Text')
      .form-row-description.form-copy
        p A description of what is required.


    //-
    //- Textarea
    //-

    .form-row
      label
        span.form-label-text Textarea
        textarea.form-field(name='name', rows='4') Default text
      .form-row-description.form-copy
        p A more detailed description of what is required
        ul
          li Detailed instruction 1
          li Detailed instruction 2


    //-
    //- Textarea - Full Width
    //-

    .form-row.form-row-full-width
      label
        span.form-label-text Textarea
        textarea.form-field(name='name', rows='8') Default text
      .form-row-description.form-copy
        p A more detailed description of what is required
        ul
          li Detailed instruction 1
          li Detailed instruction 2


    //-
    //- Select Dropdown
    //-

    .form-row
      label
        span.form-label-text Default Select
        select.form-field(name='name')
          option(value='') Choose An Option
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
          option(value='4') Option 4
          option(value='5') Option 5
          option(value='6') Option 6
          option(value='7') Option 7
          option(value='8') Option 8
          option(value='9') Option 9
          option(value='10') Option 10

    .form-row.form-row-date-group
      span.form-label-text Date of Birth
      ul.form-field.inline-date-list
        li
          label
            span.form-label-text Day
            select.form-field(name="dob[day]")
              option(value="") Day
              option(value="01") 1
              option(value="02") 2
              option(value="03") 3
              option(value="04") 4
              option(value="05") 5
              option(value="06") 6
              option(value="07") 7
              option(value="08") 8
              option(value="09") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") 12
              option(value="13") 13
              option(value="14") 14
              option(value="15") 15
              option(value="16") 16
              option(value="17") 17
              option(value="18") 18
              option(value="19") 19
              option(value="20") 20
              option(value="21") 21
              option(value="22") 22
              option(value="23") 23
              option(value="24") 24
              option(value="25") 25
              option(value="26") 26
              option(value="27") 27
              option(value="28") 28
              option(value="29") 29
              option(value="30") 30
              option(value="31") 31
        li
          label
            span.form-label-text Month
            select.form-field(name="dob[month]")
              option(value="") Month
              option(value="01") January
              option(value="02") February
              option(value="03") March
              option(value="04") April
              option(value="05") May
              option(value="06") June
              option(value="07") July
              option(value="08") August
              option(value="09") September
              option(value="10") October
              option(value="11") November
              option(value="12") December
        li
          label
            span.form-label-text Year
            select.form-field(name="dob[year]")
              option(value="") Year
              option(value="2007") 2007
              option(value="2006") 2006
              option(value="2005") 2005
              option(value="2004") 2004
              option(value="2003") 2003
              option(value="2002") 2002
              option(value="2001") 2001
              option(value="2000") 2000
              option(value="1999") 1999
              option(value="1998") 1998
              option(value="1997") 1997
              option(value="1996") 1996
              option(value="1995") 1995
              option(value="1994") 1994
              option(value="1993") 1993
              option(value="1992") 1992
              option(value="1991") 1991
              option(value="1990") 1990
              option(value="1989") 1989
              option(value="1988") 1988
              option(value="1987") 1987
              option(value="1986") 1986
              option(value="1985") 1985
              option(value="1984") 1984
              option(value="1983") 1983
              option(value="1982") 1982
              option(value="1981") 1981
              option(value="1980") 1980
              option(value="1979") 1979
              option(value="1978") 1978
              option(value="1977") 1977
              option(value="1976") 1976
              option(value="1975") 1975
              option(value="1974") 1974
              option(value="1973") 1973
              option(value="1972") 1972
              option(value="1971") 1971
              option(value="1970") 1970
              option(value="1969") 1969
              option(value="1968") 1968
              option(value="1967") 1967
              option(value="1966") 1966
              option(value="1965") 1965
              option(value="1964") 1964
              option(value="1963") 1963
              option(value="1962") 1962
              option(value="1961") 1961
              option(value="1960") 1960
              option(value="1959") 1959
              option(value="1958") 1958
              option(value="1957") 1957
              option(value="1956") 1956
              option(value="1955") 1955
              option(value="1954") 1954
              option(value="1953") 1953
              option(value="1952") 1952
              option(value="1951") 1951
              option(value="1950") 1950


    //-
    //- Single Checkbox
    //-

    .form-row.form-row-checkbox
      label
        span.form-label-text Single Checkbox
        input.form-field(type='checkbox', name='name')


    //-
    //- Single Checkbox Alternate
    //-

    .form-row.form-row-alt.form-row-checkbox
      label
        input.form-field(type='checkbox', name='name')
        span.form-label-text Single Checkbox Alternate


    //-
    //- Grouped Checkboxes
    //-

    .form-row.form-row-field-group
      span.form-label-text Grouped Checkboxes
      ul.form-field
        li
          label
            input(type='checkbox', name='name', checked='checked')
            span Option 1
        li
          label
            input(type='checkbox', name='name')
            span Option 2
        li
          label
            input(type='checkbox', name='name')
            span Option 3
        li
          label
            input(type='checkbox', name='name')
            span Option 4


    //-
    //- Grouped Checkboxes
    //-

    .form-row.form-row-field-group
      span.form-label-text Grouped Checkboxes
      ul.form-field
        li
          label
            input(type='radio', name='name', checked='checked')
            span Option 1
        li
          label
            input(type='radio', name='name')
            span Option 2
        li
          label
            input(type='radio', name='name')
            span Option 3
        li
          label
            input(type='radio', name='name')
            span Option 4


    //-
    //- File Upload
    //-

    .form-row.form-row-upload
      label
        span.form-label-text File Upload
        input.form-field(type='file', name='name', multiple='multiple')
      .form-row-description.form-copy
        p Choose up to 3 images.


  //-
  //- Form Actions
  //-

  .form-row.form-row-actions
    input.button(type='reset', value='Clear')
    input.button.button-primary(type='submit', value='Submit')



form(action='#', method='post', enctype='multipart/form-data')

  fieldset
    h3 Form Errors
    p.group-description Examples of form error styling.


    //-
    //- Form Error Summary
    //-

    .form-copy.form-error
      strong Oops! Something isn't right.
      p Please check the form and try again.
      ul
        li The 'Text Input' field is required. Please supply a value.
        li Please ensure your email address is written in the correct format.
        li Please select a date.


    //-
    //- Standard Text Input
    //-

    .form-row.form-row-error
      label
        span.form-label-text Text Input
          abbr(title='This field is required') *
        input.form-field(type='text', name='name', placeholder='Placeholder Text')
        span.form-row-description.form-row-error-text This field is required
      .form-row-description.form-copy
        p A description of what is required.


    //-
    //- Select Dropdown
    //-

    .form-row.form-row-error
      label
        span.form-label-text Default Select
        select.form-field(name='name')
          option(value='') Choose An Option
          option(value='1') Option 1
          option(value='2') Option 2
          option(value='3') Option 3
          option(value='4') Option 4
          option(value='5') Option 5
          option(value='6') Option 6
          option(value='7') Option 7
          option(value='8') Option 8
          option(value='9') Option 9
          option(value='10') Option 10
        span.form-row-description.form-row-error-text This field is required


    //-
    //- Single Checkbox
    //-

    .form-row.form-row-checkbox.form-row-error
      label
        span.form-label-text Single Checkbox
        input.form-field(type='checkbox', name='name')
        span.form-row-description.form-row-error-text This field is required


    //-
    //- Grouped Checkboxes
    //-

    .form-row.form-row-field-group.form-row-error
      span.form-label-text Grouped Checkboxes
      ul.form-field
        li
          label
            input(type='radio', name='name', checked='checked')
            span Option 1
        li
          label
            input(type='radio', name='name')
            span Option 2
        li
          label
            input(type='radio', name='name')
            span Option 3
        li
          label
            input(type='radio', name='name')
            span Option 4
      span.form-row-description.form-row-error-text This field is required


  //-
  //- Form Actions
  //-

  .form-row.form-row-actions
    input.button(type='reset', value='Clear')
    input.button.button-primary(type='submit', value='Submit')


form(action='#', method='post', enctype='multipart/form-data')

  fieldset
    h3 jQuery UI Elements
    p These inputs make use of 
      a(href='http://jqueryui.com/') jQuery UI
      | .


    //-
    //- jQuery UI Autocomplete
    //-

    .form-row
      label
        span.form-label-text Autocomplete Input
        input.form-field.autocomplete(type='text', name='name')
      .form-row-description.form-copy
        p Start typing, e.g. as…


    //-
    //- jQuery UI Datepicker
    //-

    .form-row
      label
        span.form-label-text Date Input
        .datepicker
          input.form-field(type='text', name='name')


  fieldset
    h3 Chosen Select Elements
    p.group-description These inputs use the 
      a(href='http://harvesthq.github.com/chosen') Chosen
      |  JavaScript plugin. They do not currently have responsive width but 
      a(href='https://github.com/harvesthq/chosen/pull/407') a fix
      |  has been pushed to GitHub.

    .form-row
      label
        span.form-label-text Chosen Select
        select.form-field.chzn-select(data-placeholder='Choose An Option')
          option(value='')
          option(value='') Option 1
          option(value='') Option 2
          option(value='') Option 3
          option(value='') Option 4
          option(value='') Option 5
          option(value='') Option 6
          option(value='') Option 7
          option(value='') Option 8
          option(value='') Option 9
          option(value='') Option 10

    .form-row
      label
        span.form-label-text Chosen Multiple Select
        select.form-field.chzn-select(multiple)
          option(value='') Option 1
          option(value='') Option 2
          option(value='') Option 3
          option(value='') Option 4
          option(value='') Option 5
          option(value='') Option 6
          option(value='') Option 7
          option(value='') Option 8
          option(value='') Option 9
          option(value='') Option 10


  //-
  //- Form Actions
  //-

  .form-row.form-row-actions
    input.button(type='reset', value='Clear')
    input.button.button-primary(type='submit', value='Submit')
