h2 Overlays

p Overlays use the 
  a(href='http://fancyapps.com/fancybox/') Fancybox
  |  jQuery plugin.

p
  a(href='http://dummyimage.com/1000x700/47a967/fff.png', rel='fancybox-group')
    img(src='http://dummyimage.com/120x70/47a967/fff.png')
  a(href='http://dummyimage.com/600x900/4791a9/fff.png', rel='fancybox-group')
    img(src='http://dummyimage.com/120x70/4791a9/fff.png')
  a(href='http://dummyimage.com/900x800/dc7f2a/fff.png', rel='fancybox-group')
    img(src='http://dummyimage.com/120x70/dc7f2a/fff.png')
  a(href='http://dummyimage.com/1000x700/ca4427/fff.png', rel='fancybox-group')
    img(src='http://dummyimage.com/120x70/ca4427/fff.png')
