h2 Tables

table.table-highlight.table-sortable
  thead
    tr
      th(scope='col').sort-asc
        a(href='#id') ID
      th(scope='col')
        a(href='#name') Name
      th(scope='col')
        a(href='#website') Website
  tbody
    tr
      td 001
      td Jimmy
      td www.jimmy.com
    tr
      td 002
      td Johnny
      td www.johnny.com
    tr
      td 003
      td Jackie
      td www.jackie.com
    tr
      td 004
      td Jimmy
      td www.jimmy.com
    tr
      td 005
      td Johnny
      td www.johnny.com
    tr
      td 006
      td Jackie
      td www.jackie.com
    tr
      td 007
      td Jimmy
      td www.jimmy.com
    tr
      td 008
      td Johnny
      td www.johnny.com
    tr
      td 009
      td Jackie
      td www.jackie.com
