h2 Tooltips

p Nullam in dui mauris. Vivamus 
  span(data-tooltip='Text Tooltip') molestie vehicula
  |  hendrerit arcu sed erat. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. 
  span.right(data-tooltip='Text Tooltip - Positioned Right') Suspendisse
  |  dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut 
  span.left(data-tooltip='Text Tooltip - Positioned Left') blandit
  |  odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac.

p We can also add enhancements to specific sites such as 
  a(href='https://www.github.com', data-tooltip='View on GitHub') GitHub
  | .
