extend layout

block content

  h1 Error #{page.title}
  if (page.title === 404)
    p
      | The item you requested could not be found. Maybe the link
      | you clicked was incorrect or out of date. Head back to the 
      a(href='/') homepage
      |  and see if you can find what you're looking for.

  else
    p
      | Oops, something went wrong at this end. You can try heading
      | back to the 
      a(href='/') homepage
      |  to see if that works. Otherwise check back later.