extend layout

block content

  h2 Welcome to Site Name
  p Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, 
    | ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna.