.filter-form
	form(method='get', action='#{crudDelegate.urlName}')
		label
			strong Filter Results
			- if (typeof url.Filter === 'undefined')
				input(value='', name='Filter', placeholder="Filter Results")
			- else
				input(value=url.Filter, name='Filter', placeholder="Filter Results")
				a.reset(href='?Reset') Reset
		input.button(type='submit',value='Filter')