//- Actions and Filter Controls
nav.page-actions.list-actions
  ul.actions
    - if (adminIsAllowed(crudDelegate.name, 'create'))
      li: a.button.primary(href='/admin/#{crudDelegate.urlName}/new') Add