//- Actions and Filter Controls
nav.page-actions.list-actions
	ul.actions
		- if (typeof viewSchema.removeControls === 'undefined' || typeof viewSchema.removeControls.add === 'undefined')
			li: a.button.primary(href='/admin/#{crudDelegate.urlName}/new') Add