#controls.panel
	ul#actions-primary
		li: a.button(href=crudUrls.edit.url)=crudUrls.edit.title
		li: a.button.delete(href=crudUrls.delete.url)=crudUrls.delete.title
	ul#actions-secondary
		li: a.button(href=crudUrls.add.url)=crudUrls.add.title
		li: a.button(href=crudUrls.list.url)=crudUrls.list.title
