nav.page-actions.view-actions
  ul.actions
    - if (adminIsAllowed(model.name, 'update')) 
      li: a.button.primary(href='/admin/#{model.urlName}/#{entity[model.idProperty]}/edit') Edit
    - if (adminIsAllowed(model.name, 'delete')) 
      li: a.button.delete(href='/admin/#{model.urlName}/#{entity[model.idProperty]}/delete') Delete