//- Check they are an admin
#admin-bar
	.admin-bar-inner
		ul.nav-user
			li Hi, #{session.admin.firstName}
			li.nav-logout: a(href='/admin/logout') Logout

		ul.nav-actions
			li: a(href='/admin') Admin Home
			li: a(href='#') Edit This Page
			li.nav-actions
				a(href='#') Actions
				ul.sub-nav
					li: a(href='#') Action 1
					li: a(href='#') Action 2
					li: a(href='#') Action 3