extend login-layout

block content

  include mixins/form-elements/index

  form(method='post')
    h1 Change your password
    p Fill in your preferred password and submit
    -if (!entity)
      .form-copy.form-error
        strong Invalid token
    -else
      -if (error)
        .form-copy.form-error
          strong= error

      .form-row
        label
          span Email Address
          span= entity.emailAddress
      mixin passwordField({ name :'password' }, { label: 'Password' })
      .form-row.form-row-actions
        input.button.button-primary(name='Submit', type='submit', value='Save')