include ../../../views/mixins/formFields

h1 Admin Login
form(method='post', enctype='multipart/form-data')
	p You must login to access this part of the site
	fieldset
		-if (error)
			errors
				p.error
					strong= error
		mixin textField('Email Address', 'emailAddress', '', '')
		mixin passwordField('Password', 'password', '', '')
		.form-row
			label.checkbox
				input(name='rememberMe', type='checkbox')
				span Remember me
	fieldset.actions
		input.button.primary(type='submit', value='Login')