include ../../../views/mixins/formFields

#column-primary
	form(action='', method='post')
		h1 Admin Login
		p You must login to access this part of the site
		fieldset
			-if (error)
				errors
					p.error
						strong= error
			mixin textField('Email Address', 'emailAddress', '', '')
			mixin passwordField('Password', 'password', '', '')
			.form-row
				label.checkbox
					input(name='rememberMe', type='checkbox')
					span Remember me
		fieldset#actions
			input.button.primary(name='Submit', type='submit', value='Login')