extend login-layout

block content

  include mixins/form-fields

  h1 Reset Password
  form(method='post')
    p Once you fill in and submit the form, a confirmation to reset your password will be sent to your email address
    fieldset
      -if (error)
        p.error
          strong= error
      mixin textField({ name :'emailAddress' }, { label: 'Email Address' })
    fieldset.actions
      a.button.primary(href='/admin') Go Back
      input.button.primary(type='submit', value='Send confirmation')