extend login-layout

block content

  include mixins/form-elements/index

  h1 Reset Password
  form(method='post')
    p Once you complete the form, a pasword reset confirmation will be sent to your email address.
    -if (error)
      .form-copy.form-error
        strong= error

    mixin textField({ name :'emailAddress' }, { label: 'Email Address' })

    .form-row.form-row-actions
      a.button(href='/admin') Go Back
      input.button.button-primary(type='submit', value='Send confirmation')