extend loginLayout

block content

  include ../../../views/mixins/formFields

  h1 Reset Password
  form(method='post')
    p Once you fill in and submit the form, a confirmation to reset your password will be sent to your e-mail address
    fieldset
      -if (error)
        p.error
          strong= error
      mixin textField({ name :'emailAddress' }, { label: 'Email Address' })
    fieldset.actions
      input.button.primary(type='submit', value='Send confirmation')