extend login-layout

block content

  include mixins/form-elements/index

  form(action='/admin/setup', method='post')
    h1 Admin Setup
    h2 There is currently no administrator account.
    p Create a default administrator by entering details below.
    fieldset
      - if (Object.keys(errors).length > 0)
        .form-copy.form-error
          strong Oops! Something isn't right.
          p Please check the form and try again.
          ul
          - each error in errors
            li= error

      mixin textField({ name :'emailAddress' }, { label: 'Email Address' })
      mixin textField({ name :'firstName' }, { label: 'First Name' })
      mixin textField({ name :'lastName' }, { label: 'Last Name' })
      mixin passwordField({ name :'password' }, { label: 'Password' })
    .form-row.form-row-actions
      input.button.button-primary(name='Submit', type='submit', value='Create now')