.main-navigation
  overflow hidden
  background-color #777

  ul
    //

  li
    float left

  a
    position relative
    display block
    padding 14px 30px

    color #222
    text-decoration none
    font-family $headingFontFamily
    font-size 1.14em

  a:hover
    background-color #aaa

  .nav-active > a
    background-color #fff
