.main-footer
  clear both
  border-top 1px solid #efefef
  color #999

  a
    color #999
    text-decoration none
    &:hover
      color #333

  .ctrl
    font-family $headingFontFamily
    color #888

  a:hover .ctrl
    color #222
