extend ../../admin/views/layout

block content

  h1 Asset Manager

  nav.breadcrumb
    ul
      li.nav-home: a(href='/admin') Home
      li Asset Manager

  .panel-group

    h3 Upload

    form#fileupload
      input(type='file', name='files[]', multiple, style='display:none')
      .form-row
        .label
          span Upload an asset:
          input.button.primary(type='submit', value='Choose assets to upload')
          .description
            p You can upload mutliple files at once by cmd/ctrl clicking them.

  #asset-list

prepend script
  script(type='text/template', id='asset-list-item-template')
    .asset-item-thumbnail
      img(src!='<%= preview %>')
    .asset-item-details
    .asset-item-meta
      span Filename: <%= basename %>
      span Type: <%= type %>
      span Size: <%= size %> Bytes
      span Created: <%= created %>
    button.delete(data-id!='<%= _id %>') Delete

  script(type='text/template', id='asset-list-item-details-template')
    span.label <%= label %>
    span.data <%= field %>
    input
    span.placeholder