::selection{color:#fff;background-color:#666;text-shadow:none}
::-moz-selection{color:#fff;background-color:#666;text-shadow:none}
body{height:100%;background:#fff;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
body,dl,dt,dd,ul,ol,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,p,pre,dt,li,hr,address,table,label{margin:0 0 18px;padding:0}
body,input,button,textarea,select{font:normal normal 13px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#666}
h1,h2,h3,h4,h5,h6{font:normal bold 30px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000}
h1{margin-bottom:36px}
h2{font-size:24px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:13px}
fieldset,img{border:0}
img,object{vertical-align:bottom}
ol li{list-style-type:decimal}
ul li{list-style-type:disc}
ul ul li{list-style-type:circle}
ol ol li{list-style-type:lower-alpha}
nav ul,nav ul li{list-style:none;padding:0;margin:0}
strong,em{color:#4d4d4d}
a{color:#666;text-decoration:underline;}
a:hover,a:focus{color:#4d4d4d;text-decoration:none}
a:active{outline:none}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
legend{color:#000;padding-bottom:.5em}
table{border-collapse:collapse;border-spacing:0}
caption{position:absolute;left:-999em}
th{text-align:center}
tbody th{text-align:left}
code{color:#06f}
code,pre{font-size:small}
blockquote,q,em,cite,dfn,i,cite,var,address{font-style:italic}
blockquote p:before,blockquote p:after,q:before,q:after{content:''}
th,strong,dt,b{font-weight:bold}
ins{text-decoration:none;border-bottom:3px double #333}
del{text-decoration:line-through}
abbr,acronym{border-bottom:1px dotted #333;font-variant:normal}
dt{margin-bottom:4px}
dd{padding-left:0;margin-bottom:20px}
li{margin-left:20px}
hr{margin-right:30px;margin-left:30px;border-style:inset;border-width:1px}
#container{width:960px;margin:40px auto}
.site-logo{margin-bottom:10px;}
.site-logo a{text-decoration:none}
#main-footer{color:#aaa}
#admin-bar{position:fixed;height:30px;width:100%;min-width:600px;background-color:#111;top:0;left:0;z-index:1000;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);box-shadow:0 1px 3px rgba(0,0,0,0.5);opacity:.7;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);filter:alpha(opacity=70);-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-o-transition:opacity .3s ease;-ms-transition:opacity .3s ease;transition:opacity .3s ease;}
#admin-bar:hover{opacity:.9;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);filter:alpha(opacity=90)}
#admin-bar ul{margin:0 0 0 0;padding:0 0 0 0;list-style:none}
#admin-bar li{float:left;position:relative;margin:0 0 0 0;padding:0 0 0 0;list-style:none;display:inline;color:#fff;font-size:12px;font-weight:bold;line-height:20px;text-shadow:0 -1px 1px #000,0 1px 1px #222}
#admin-bar .nav-user{float:left;}
#admin-bar .nav-user li{padding:5px 10px}
#admin-bar .nav-user .nav-logout a{text-decoration:none;font-weight:normal;font-size:11px;color:#888;}
#admin-bar .nav-user .nav-logout a:hover{color:#fff}
#admin-bar .nav-actions{float:right;border-left:1px solid #222;}
#admin-bar .nav-actions li{border-left:1px solid #000;border-right:1px solid #222}
#admin-bar .nav-actions a{display:block;color:#fff;font-size:11px;font-weight:bold;line-height:20px;padding:5px 10px;text-decoration:none;}
#admin-bar .nav-actions a:hover{background-color:#1f1f1f}
#admin-bar .sub-nav{display:none;position:absolute;top:100%;right:-1px;float:left;background-color:#111;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);box-shadow:0 1px 3px rgba(0,0,0,0.5);width:120px;border-top:1px solid #000;}
#admin-bar .sub-nav li{display:block;margin:0;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #222;border-left:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #222;}
#admin-bar .sub-nav li a{padding:5px 10px;line-height:16px}
#admin-bar li:hover .sub-nav{display:block}
.editable-text-content{position:relative}
.editable-text-content-item.active:after{position:absolute;top:0;left:0;width:100%;height:100%;content:"";background-color:#0f0;z-index:100;opacity:.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter:alpha(opacity=50)}
