/*
 * Main Variables
 */

/* Global Styles */
$primaryColor = #2b6999
$secondaryColor = #3B3F42


/* Global Typography */
$baseFontFamily = "Lato", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
$headingFontFamily = Montserrat, 'Arial Black', Arial, sans-serif


/* Buttons and Links */
$buttonColor = #ddd /* A neutral button color - highlights can be added with extra classes */





/***** UNSORTED *****/
$baseBorderColor = #CCCCCC
$baseBorderRadius = 0px /* Set to 0 to disable border radius */


$baseFontColor = #666666
$baseFontSize = 13px
$baseLineHeight = 18px /* Used to calculate vertical rhythm */


/* Forms */
$inputBackground = #FFFFFF
$labelFontColor = #333333
$inputFontColor = #333333

/* Animation and Transitions */
$baseTransitionDuration = 0.1s /* Set to 0s to disable transitions */
$baseTransitionEasing = ease

/* Notification Messages */
$colorNotification = #EEEEEE /* A neutral notification color to set default styles */
$colorSuccess = #47a967
$colorNotice = #4791a9
$colorWarning = #f0b034
$colorError = #d24d4d


/** General Colours **/
$primaryTextColor = #333333
$secondaryTextColor = #FFFFFF

$primaryBrandColor = #001e5a /* Brand Blue */
$secondaryBrandColor = #fff200 /* Brand Yellow */


/** Errors **/
$secondaryErrorColor = #FFC7C7

/** Progressive Enhancements **/
$lightTextShadow = 0px 1px 2px #FFF
$brandTextShadow = 0 1px 2px darken($primaryBrandColor, 40)
$lightBoxShadow = 0px 1px 2px 0px rgba(0,0,0,0.2)
$standardBoxShadow = 0px 1px 4px rgba(69, 85, 93, 0.4)

/*
 * Admin Variables
 */
/* Buttons */
$secndaryButtonColor = #CCCCCC
/* Tables */
$thColor = #DDD
/* Forms */
$labelHoverColor = #EEEEEE


