.panel-asset-item
  overflow hidden
  position relative
  padding-bottom 45px

  .asset-item-thumbnail
    float left
    width 17%
    margin-right 3%

    img
      max-width 80%

  .asset-item-details
    float left
    width 70%
    overflow hidden

    .editable
      border-bottom 1px solid $baseBorderColor
      float left
      clear left
      padding 7px 0px 5px
      width 100%

      .data
      span
      input
        float left
        width 80%
        padding 2px 0px

      .data
        font-style normal

      .label
        float left
        width 20%
        clear left
        font-style normal
        font-weight bold

      input
        padding 2px 0px
        position relative
        top -1px
        left -2px

  .asset-item-meta
    position absolute
    bottom 0px
    left 0px
    right 0px
    background-color darken(#fff, 10%)
    border-top 1px solid darken(#fff, 15%)
    padding 5px
    text-align center


    span
      margin-right 10px
      font-size 11px

  .delete
    position absolute
    top 18px
    right 20px