// TODO - Set column width instead of spacing as a mixin

// Variables
$baseGridWidth = 940px
$baseColSpacing = 20px

// Mixin to calculate column widths
setColumnWidths(colCount, gridWidth = $baseGridWidth, colSpacing = $baseColSpacing)
	$colWidth = ( gridWidth - ( colSpacing * ( colCount - 1 ))) / colCount
	.grid-{colCount}
		width gridWidth
		[class*="col-"]
			margin-left colSpacing
		for i in 1..colCount
			.col-{i}
				width ( $colWidth * i ) + ( colSpacing * ( i - 1 ))

/** Generic Grid Styles **/
[class*="grid-"]
	float left

.row
	float left
	clear left
	margin-bottom 20px
	width 100%

[class*="col-"]
	float left
	margin-left $baseColSpacing
	text-align center
	background #ccc
	background rgba(0,0,0,.1)
	border-radius 3px
	line-height 32px
	.row &:first-child
		margin-left 0 !important
	&:hover
		background-color rgba(0,0,0,.2)

/* 12 Column Flexible Grid */
setColumnWidths(12, 100%, 2%)

/* 4 Column Fixed Grid */
setColumnWidths(4, 540px)