/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp *
	margin 0px
	padding 0px
	outline none

.markItUp a link,
.markItUp a visited
	color #000
	text-decoration none

.markItUp
	width 880px
	margin 5px 0 5px 0
	border 5px solid #F5F5F5

.markItUpContainer
	border 1px solid #3C769D
	background #FFF versionPath("/images/admin/content/markitup/bg-container.png") repeat-x top left
	padding 5px 5px 2px 5px
	font 11px Verdana, Arial, Helvetica, sans-serif

.markItUpEditor
	font 12px 'Courier New', Courier, monospace
	padding 5px 5px 5px 35px
	border 3px solid #3C769D
	width 100%
	height 320px
	background #FFF versionPath("/images/admin/content/markitup/bg-editor.png") no-repeat
	clear both
	line-height 18px
	overflow auto

.markItUpPreviewFrame
	overflow auto
	background-color #FFFFFF
	border 1px solid #3C769D
	width 99.9%
	height 300px
	margin 5px 0

.markItUpFooter
	width 100%
	cursor n-resize

.markItUpResizeHandle
	overflow hidden
	width 22px
	height 5px
	margin-left auto
	margin-right auto
	background-image versionPath("/images/admin/content/markitup/handle.png")
	cursor n-resize

/***************************************************************************************/
/* first row of buttons */
.markItUpHeader
	ul li
		list-style none
		float left
		position relative
	ul li ul
		display none
	ul li hover > ul
		display block
	ul .markItUpDropMenu
		background transparent versionPath("/images/admin/content/markitup/menu.png") no-repeat 115% 50%
		margin-right 5px
		li
			margin-right 0px
	ul .markItUpSeparator
		margin 0 10px
		width 1px
		height 16px
		overflow hidden
		background-color #CCC
	ul ul .markItUpSeparator
		width auto
		height 1px
		margin 0px
	/* next rows of buttons */
	ul ul
		display none
		position absolute
		top 18px
		left 0px
		background #F5F5F5
		border 1px solid #3C769D
		height inherit
	ul ul li
		float none
		border-bottom 1px solid #3C769D
	ul ul .markItUpDropMenu
		background #F5F5F5 versionPath("/images/admin/content/markitup/submenu.png") no-repeat 100% 50%
	/* next rows of buttons */
	ul ul ul
		position absolute
		top -1px
		left 150px
	ul ul ul li
		float none
	ul a
		display block
		width 16px
		height 16px
		text-indent -10000px
		background-repeat no-repeat
		padding 3px
		margin 0px
	ul ul a
		display block
		padding-left 0px
		text-indent 0
		width 120px
		padding 5px 5px 5px 25px
		background-position 2px 50%
	ul ul a hover
		color #FFF
		background-color #3C769D

/* HTML editor styles */
.html
	.markItUpEditor
		background-image versionPath("/images/admin/content/markitup/bg-editor-html.png")
	.markItUpButton1 a
		background-image versionPath("/images/admin/content/markitup/h1.png")
	.markItUpButton2 a
		background-image versionPath("/images/admin/content/markitup/h2.png")
	.markItUpButton3 a
		background-image versionPath("/images/admin/content/markitup/h3.png")
	.markItUpButton4 a
		background-image versionPath("/images/admin/content/markitup/h4.png")
	.markItUpButton5 a
		background-image versionPath("/images/admin/content/markitup/h5.png")
	.markItUpButton6 a
		background-image versionPath("/images/admin/content/markitup/h6.png")
	.markItUpButton7 a
		background-image versionPath("/images/admin/content/markitup/paragraph.png")
	.markItUpButton8 a
		background-image versionPath("/images/admin/content/markitup/bold.png")
	.markItUpButton9 a
		background-image versionPath("/images/admin/content/markitup/italic.png")
	.markItUpButton10 a
		background-image versionPath("/images/admin/content/markitup/stroke.png")
	.markItUpButton11 a
		background-image versionPath("/images/admin/content/markitup/list-bullet.png")
	.markItUpButton12 a
		background-image versionPath("/images/admin/content/markitup/list-numeric.png")
	.markItUpButton13 a
		background-image versionPath("/images/admin/content/markitup/list-item.png")
	.markItUpButton14 a
		background-image versionPath("/images/admin/content/markitup/picture.png")
	.markItUpButton15 a
		background-image versionPath("/images/admin/content/markitup/link.png")
	.markItUpButton16 a
		background-image versionPath("/images/admin/content/markitup/clean.png")

/* Markdown editor styles */
.markdown
	.markItUpEditor
		background-image versionPath("/images/admin/content/markitup/bg-editor-markdown.png")
	.markItUpButton1 a
		background-image versionPath("/images/admin/content/markitup/h1.png")
	.markItUpButton2 a
		background-image versionPath("/images/admin/content/markitup/h2.png")
	.markItUpButton3 a
		background-image versionPath("/images/admin/content/markitup/h3.png")
	.markItUpButton4 a
		background-image versionPath("/images/admin/content/markitup/h4.png")
	.markItUpButton5 a
		background-image versionPath("/images/admin/content/markitup/h5.png")
	.markItUpButton6 a
		background-image versionPath("/images/admin/content/markitup/h6.png")
	.markItUpButton7 a
		background-image versionPath("/images/admin/content/markitup/bold.png")
	.markItUpButton8 a
		background-image versionPath("/images/admin/content/markitup/italic.png")
	.markItUpButton9 a
		background-image versionPath("/images/admin/content/markitup/list-bullet.png")
	.markItUpButton10 a
		background-image versionPath("/images/admin/content/markitup/list-numeric.png")
	.markItUpButton11 a
		background-image versionPath("/images/admin/content/markitup/picture.png")
	.markItUpButton12 a
		background-image versionPath("/images/admin/content/markitup/link.png")
	.markItUpButton13 a
		background-image versionPath("/images/admin/content/markitup/quotes.png")
	.markItUpButton14 a
		background-image versionPath("/images/admin/content/markitup/code.png")


.markItUp .preview a
	background-image versionPath("/images/admin/content/markitup/preview.png")
