.notification
  position relative
  background-color $notificationColor
  border 1px solid darken($notificationColor, 14)
  text-shadow 0px 1px 1px darken($notificationColor, 14)
  padding 10px 14px
  margin-bottom $baseLineHeight
  font-weight bold
  if $baseBorderRadius != 0
    border-radius $baseBorderRadius
  if dark($notificationColor)
    color #FFFFFF
  else
    color #333333

  h4
    color inherit
    font-size 16px
    line-height 18px
    font-weight bold
    margin-bottom 10px


  &.success
    background-color $successColor
    border 1px solid darken($successColor, 14)
    text-shadow 0px 1px 1px darken($successColor, 14)
    if dark($successColor)
      color #FFFFFF
    else
      color #333333
  &.notice
    background-color $noticeColor
    border 1px solid darken($noticeColor, 14)
    text-shadow 0px 1px 1px darken($noticeColor, 14)
    if dark($noticeColor)
      color #FFFFFF
    else
      color #333333
  &.warning
    background-color $warningColor
    border 1px solid darken($warningColor, 14)
    text-shadow 0px 1px 1px darken($warningColor, 14)
    if dark($warningColor)
      color #FFFFFF
    else
      color #333333
  &.error
    background-color $errorColor
    border 1px solid darken($errorColor, 14)
    text-shadow 0px 1px 1px darken($errorColor, 14)
    if dark(darken($errorColor, 7))
      color #FFFFFF
    else
      color #333333

  p
    margin 0
  .button-close
    position absolute
    right 14px
    top 14px
    display block
    width 10px
    height 11px
    text-indent -9999px
    overflow hidden
    background versionPath("/admin/images/content/notification-sprite.png") 0px 0px no-repeat
    &:hover
      background-position 0px -11px
    &:active
      background-position 0px -22px


/*
 * UI-notifications
 */

#ui-notifications
  position fixed
  top 10px
  right 15px

#ui-notifications li
  margin-bottom 5px
  list-style none

.ui-notification
  position relative
  max-width 400px
  min-width 250px
  z-index 1000
  border 1px solid rgba(#000, 0.5)
  background-color rgba(#000, 0.9)
  border-radius 3px
  color #ddd
  box-shadow inset 0px 0px 0px 1px rgba(#fff, 0.1), 0px 2px 3px rgba(#000, 0.2)

  &:after
    content ''
    position absolute
    top 0px
    bottom 0px
    border-radius 3px 0px 0px 3px
    border 2px solid $noticeColor

  &.warn:after
    border 2px solid $warningColor

  &.error:after
    border 2px solid $errorColor

.ui-notification .content
  padding 15px 20px

.ui-notification h1
  margin 0 0 5px 0
  font-size 16px
  font-weight normal

.ui-notification p
  margin 0
  padding 0
  font-size .9em

.ui-notification .close
  position absolute
  top 5px
  right 10px
  text-decoration none
  color #888
  display none

.ui-notification.closable .close
  display block

.ui-notification .close:hover
  color #fff

.ui-notification .close:active
  margin-top 1px

/* close */

.ui-notification .close
  position absolute
  top 3px
  right 10px
  text-decoration none
  color #888
  font-size 16px
  font-weight bold
  display none

/* slide */

.ui-notification.slide
  transition opacity 300ms, top 300ms

.ui-notification.slide.hide
  opacity 0
  top -500px

/* fade */

.ui-notification.fade
  transition opacity 300ms

.ui-notification.fade.hide
  opacity 0

/* scale */

.ui-notification.scale
  transition transform 300ms
  transform scale(1)

.ui-notification.scale.hide
  transform scale(0)