fontGlobal(suppliedColor=$globalColor)
	font $globalFontStyle $globalFontWeight $globalFontSize/$globalLineHeight $globalFontFamily
	color suppliedColor

fontHeadline(suppliedColor=$headlineColor)
	font $headlineFontStyle $headlineFontWeight $headlineFontSize/$headlineLineHeight $headlineFontFamily
	color suppliedColor

fontStandfirst(suppliedColor=$standfirstColor)
	font $standfirstFontStyle $standfirstFontWeight $standfirstFontSize/$standfirstLineHeight $standfirstFontFamily
	color suppliedColor