//
// FORM STYLES
// ===========
//
// 1. Default Styles
// 2. Text Inputs
// 3. Form Row
// 4. Form Row Modifiers
//    4.1. Checkboxes, Groups and File Uploads
//    4.2. Switched Position Checkboxes
//    4.3. File Uploads
//    4.4. Full Width Inputs
//    4.5. Date Group
// 5. Form Actions
// 6. Form Text
//    6.1 Form Description
//    6.2 Form Overview Error
//    6.3 Error Styling for Inputs
//


//
// 1. DEFAULT STYLES
// Set some basic styles which can be extended
//

.text-input
  padding $textInputPadding
  border 1px solid $colorBorder
  line-height $baseLineHeight
  transition border-color 0.1s ease, box-shadow 0.2s ease
  font-family inherit
  font-size inherit
  &:focus
    border-color $colorPrimary
    box-shadow 0px 1px 5px rgba($colorPrimary, 0.2) inset, 0px 0px 5px rgba($colorPrimary, 0.8)
    outline 0


//
// 2. TEXT INPUTS
//

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"]
  @extend .text-input

textarea
  @extend .text-input
  resize vertical

select
  @extend .text-input
  height 28px
  padding-top 2px
  padding-bottom 2px

input[type="file"]
  line-height 1
  font-family inherit
  font-size inherit


//
// 3. FORM ROW
// This wrapping element forms the basis of any form
//

.form-row
  margin-bottom $baseMarginBottom

  // The label wraps the label text (.form-label-text) and form input
  label
    display block

  .form-label-text
    float left
    box-sizing border-box
    width 30%
    padding-top 4px // Vertically align text with the input
    padding-right 20px

    // Required Field indicator
    abbr
      color $colorError
      margin-left 4px
      border-bottom none

  .form-field
    box-sizing border-box

  // Reset default list styles when a <ul> is used as the field
  ul.form-field
    padding 0
    margin-bottom 0
    display inline-block
    li
      list-style none


  // When inputs appear within a .form-row, give them these extra styles.
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea,
  select
    display block
    width 70%

  input[type="checkbox"],
  input[type="radio"]
    margin-right 10px


//
// 4. FORM ROW MODIFIERS
//


//
// 4.1 CHECKBOXES AND GROUPS
// These form rows don't need their label text vertically aligned.
//

.form-row-field-group,
.form-row-checkbox,
  .form-label-text
    padding-top 0

// Remove leading margin on groups of checkboxes.
.form-row-checkbox
  .form-field
    margin-top 0


//
// 4.2 SWITCHED POSITION CHECKBOXES
// Display the label text and field inline, when the field has to come first.
//

.form-row-alt
  .form-label-text
    margin-top 3px
    float none
    margin-right 0
  .form-field
    width auto
    margin-left 30%


//
// 4.3 FILE UPLOADS
//

.form-row-upload
  .form-label-text
    padding-top 0


//
// 4.4 FULL WIDTH INPUTS
// Inputs appear full width below labels.
//

.form-row-full-width
  .form-label-text
    display block
    float none
    width 100%
    margin-right 0
    padding-top 0
    margin-bottom 4px
  .form-field
    width 100%
  .form-row-description
    margin-left 0
    width 100%


//
// 4.5 DATE GROUP
// Triple select group, used for day, month and year inputs.
//

.form-row-date-group
  .form-field
    width 70%
    // Unfortunate hack to avoid jumping caused by 30%+70% rounding bug
    margin-right -1px
    li
      float left
      width 32%
      margin-left 2%
      &:first-child
        margin-left 0

    .form-label-text
      display none
    .form-field
      width 100%


//
// 5. FORM ACTIONS
// Normally contains Submit and Reset inputs.
//

.form-row-actions
  text-align right

  input,
  button,
  .button
    margin-left 10px
    &:first-child
      margin-left 0


//
// 6. FORM COPY
// Provides basic styling which is used by input errors and descriptions.
//

.form-copy
  margin-top 3px

  p,
  ul,
  ol
    margin-top 3px
    margin-bottom 0

  ul,
  ol
    padding-left 10px


//
// 6.1 FORM DESCRIPTIONS
// These generally appear below inputs to provide supplementary information.
//

.form-row-description
  color #777
  font-size 0.8em
  margin-left 30%
  width 70%
  display block
  box-sizing border-box

.form-row-full-width
  .form-row-description
    margin-left 0
    width 100%


//
// 6.2 FORM OVERVIEW ERROR
// Appears at the top of the form to highlight that validation errors occured.
// May also list the individual error messages if required.
//

.form-error
  margin-bottom $baseMarginBottom
  background-color $colorError
  border-radius 3px
  padding 10px
  color white
  border 1px solid darken($colorError, 10%)
  box-shadow 0 1px 1px rgba(#fff, 0.3) inset, 0 1px 3px rgba(#000, 0.1)
  text-shadow 0 -1px 0 rgba(0,0,0,.2)


//
// 6.3 ERROR STYLING FOR INPUTS
// Highlight invalid inputs and display inline error messages
//

// Amend the input styling.
.form-row-error
  .form-field
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    border-color darken($colorError, 10%)
    &:focus
      border-color darken($colorError, 10%)

// Style the error message.
.form-row-error-text
  background-color $colorError
  color white
  padding $textInputPadding
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  border 1px solid darken($colorError, 10%)
  border-top-width 0
  box-shadow 0 1px 1px rgba(#fff, 0.3) inset, 0 1px 3px rgba(#000, 0.1)
  text-shadow 0 -1px 0 rgba(0,0,0,.2)

  select + &,
  .form-row-checkbox &,
  .form-row-field-group &
    /* Set all border radii */
    border-radius 3px
    margin-top 5px
    border-top-width 1px
