//
// ICONS
// =====
//

//
// BASE STYLES
// Some simple styles for other icons to extend and customise
//

.icon-basic
  display inline-block
  background-repeat no-repeat
  background-image versionPath("/admin/images/content/sprite.png")
  .svg &
    background-image versionPath("/admin/images/content/sprite.svg")


//
// STANDARD ICON SET
//

.icon-reset
  @extend .icon-basic
  width 8px
  height 8px
  background-position -53px -25px

.button-reset:hover
  .icon-reset
    background-position -61px -25px


//
// REVERSED COLOUR ICON SET
//

.icon-settings
  @extend .icon-basic
  position absolute
  top 50%
  left 50%
  margin-top -8px
  margin-left -8px
  width 16px
  height 16px
  text-indent -9999px
  overflow hidden
  background-position -95px 0
