.icon-reset
  display inline-block
  width 8px
  height 8px
  background-position -53px -25px
  background-repeat no-repeat
  background-image versionPath("/admin/images/content/sprite.png")
  .svg &
    background-image versionPath("/admin/images/content/sprite.svg")

.button-reset:hover
  .icon-reset
    background-position -61px -25px
