h1 Miscellaneous UI Elements

nav.breadcrumb
  ul
    li.nav-home: a(href='/admin') Home
    li: a(href='/admin/ui') Admin UI
    li Miscellaneous UI Elements

section#tooltips
  h2 Tooltips
  p Nullam in dui mauris. Vivamus 
    span(data-tooltip='Text Tooltip') molestie vehicula
    |  hendrerit arcu sed erat. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. 
    span.right(data-tooltip='Text Tooltip - Positioned Right') Suspendisse
    |  dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut 
    span.left(data-tooltip='Text Tooltip - Positioned Left') blandit
    |  odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac.
  p We can also add enhancements to specific sites such as 
    a(href='https://www.github.com', data-tooltip='View on GitHub') GitHub
    | .

section#notifications
  h2 Notifications
  p Colours are defined as Stylus variables. An optional CSS class of 'close' allows the notification to be dismissed.
  .notification.close
    p Default Message with close button
  .notification.success.close
    p Success Message with close button
  .notification.notice.close
    p Notice Message with close button
  .notification.warning
    p Warning Message
  .notification.error
    p Error Message

section#buttons
  h2 Buttons
  p
    a.button(href='#') Standard
    |  
    a.button.primary(href='#') Primary
    |  
    button(name="button") Button
    |  
    button.primary(name="button") Button Primary
    |  
    input.button.primary(type='submit',value='Form Submit')

section#dialogs
  h2 Dialogs
  p
    button.primary(
      onclick='window.confirmDialog({ message: "Are you sure that’s what you want to do?", confirm: function () { alert("You confirmed"); }})'
    ) Action!
  h3 Usage:
  pre: code
    | window.confirmDialog({
    | 
    |   // The message to display
    |   message: 'Are you sure?',
    | 
    |   // The function to execute if the user presses the confirm button
    |   confirm: function () {},
    | 
    |   // The function to execute if the user presses the deny button
    |   deny: function () {},
    | 
    |   // The text to display in the confirm button. Optional, default is `Confirm`
    |   confirmVerb: 'Confirm',
    | 
    |   // The text to display in the confirm button. Optional, default is `Confirm`
    |   denyVerb: 'Cancel',
    | 
    |   // If `true`, the button uses the `$errorColour` (which is probably red).
    |   // Optional, and the default is `false`, in which case it uses `$primaryColour`
    |   danger: false
    | 
    | })

section#overlays
  h2 Overlays
  p Overlays use the 
    a(href='http://fancyapps.com/fancybox/') Fancybox
    |  jQuery plugin.
  .panel.grid-4
    .row
      .col-1
        a(href='http://dummyimage.com/1000x700/777.jpg', rel='fancybox-group')
          img(src='http://dummyimage.com/120x70/777', alt='')
      .col-1
        a(href='http://dummyimage.com/1000x700/999.jpg', rel='fancybox-group')
          img(src='http://dummyimage.com/120x70/999', alt='')
      .col-1
        a(href='http://dummyimage.com/1000x700/bbb.jpg', rel='fancybox-group')
          img(src='http://dummyimage.com/120x70/bbb', alt='')
      .col-1
        a(href='http://dummyimage.com/1000x700/ddd.jpg', rel='fancybox-group')
          img(src='http://dummyimage.com/120x70/ddd', alt='')