/*
 * Main Variables
 */
/** **/
$siteUrl = ''
$version = 'v1.2'

/** General Colours **/
$primaryTextColor = #333333
$secondaryTextColor = #FFFFFF

$primaryBrandColor = #001e5a /* Brand Blue */
$secondaryBrandColor = #fff200 /* Brand Yellow */

$borderColor = #CCCCCC

/** Typography **/
$globalFontFamily = Georgia, 'Times New Roman', Times, serif
$globalColor = #333
$globalFontSize = 13px
$globalLineHeight = 18px
$globalFontStyle = normal
$globalFontWeight = normal

$headlineFontFamily = $globalFontFamily
$headlineColor = #000
$headlineFontSize = 18px
$headlineLineHeight = 20px
$headlineFontStyle = italic
$headlineFontWeight = normal

$standfirstFontFamily = $globalFontFamily
$standfirstColor = #000
$standfirstFontSize = 15px
$standfirstLineHeight = 20px
$standfirstFontStyle = italic
$standfirstFontWeight = normal

/** Errors **/
$primaryErrorColor = #AC2C2C
$secondaryErrorColor = #D24D4D

/** Progressive Enhancements **/
$lightTextShadow = 0px 1px 2px #FFF
$brandTextShadow = 0 1px 2px darken($primaryBrandColor, 40)
$lightBoxShadow = 0px 1px 2px 0px rgba(0,0,0,0.2)
$standardBoxShadow = 0px 1px 4px rgba(69, 85, 93, 0.4)

/*
 * Admin Variables
 */
/* Buttons */
$buttonColor = desaturate(lighten($primaryBrandColor, 10), 30)
$secndaryButtonColor = #CCCCCC
/* Tables */
$thColor = #DDD
/* Forms */
$labelHoverColor = #EEEEEE


