/*
 * Main Variables
 */

/* Global Styles */
$primaryColor = #47a9a4

/* Global Typography */
$baseFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$baseFontColor = #666666
$baseFontSize = 13px
$baseLineHeight = 18px /* Used to calculate vertical rhythm */