font(color = $baseFontColor, fontSize = $baseFontSize, lineHeight = $baseLineHeight, fontFamily = $baseFontFamily, fontStyle = normal, fontWeight = normal)
	font fontStyle fontWeight fontSize/lineHeight fontFamily
	color color