#main-nav
	.container
		ul
			li.nav-about: a(href='/') Home
		.social-icons
			.facebook
				!= partial('partials/content/facebook-like', { url: properties.siteUrl, style: 'button_count', width: '200px', height: '40px' })